<!-- Clients -->
<div class="mx-auto">
  <!-- Title -->
  <div class="mx-auto text-center mb-10">
    <h2 class="text-base text-primary dark:text-accent-100">
      Współpracuję z ludźmi, którym zależy.
    </h2>
  </div>
  <!-- End Title -->

  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 justify-center gap-x-6 sm:gap-x-12 lg:gap-x-24"
  >
    <div class="flex items-center justify-center">
      <svg
        width="59"
        height="36"
        viewBox="0 0 59 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.0898 18C20.0898 19.1046 19.1944 20 18.0898 20C16.9853 20 16.0898 19.1046 16.0898 18C16.0898 16.8954 16.9853 16 18.0898 16C19.1944 16 20.0898 16.8954 20.0898 18Z"
          fill="black"></path>
        <path
          d="M42.0898 18C42.0898 19.1046 41.1944 20 40.0898 20C38.9853 20 38.0898 19.1046 38.0898 18C38.0898 16.8954 38.9853 16 40.0898 16C41.1944 16 42.0898 16.8954 42.0898 18Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M40.0899 2.0365e-06C40.7659 2.1547e-06 41.4332 0.0372686 42.0898 0.109859V2.12379C41.4347 2.04209 40.7672 2 40.0899 2C36.5517 2 33.2835 3.14743 30.6345 5.09135C31.1162 5.55951 31.5717 6.0544 31.9988 6.57362C34.2835 4.95312 37.0764 4 40.0899 4C40.7689 4 41.4367 4.04834 42.0898 4.14177V6.16591C41.4394 6.0568 40.7713 6 40.0899 6C37.5171 6 35.1352 6.80868 33.1819 8.18644C33.547 8.74673 33.8817 9.3286 34.1837 9.92973C35.8384 8.71698 37.8811 8 40.0899 8C40.7748 8 41.4436 8.06886 42.0898 8.20003V10.252C41.4506 10.0875 40.7805 10 40.0899 10C38.1572 10 36.386 10.6843 35.0029 11.8253C35.2578 12.5233 35.4707 13.2415 35.6386 13.9768C36.7365 12.7628 38.3241 12 40.0899 12C40.7911 12 41.4643 12.1203 42.0898 12.3414V14.5351C41.5015 14.1948 40.8185 14 40.0899 14C37.8808 14 36.0899 15.7909 36.0899 18C36.0899 20.2091 37.8808 22 40.0899 22C42.299 22 44.0899 20.2091 44.0899 18L44.0898 17.9791V0.446033C52.1058 2.26495 58.0899 9.43365 58.0899 18C58.0899 27.9411 50.031 36 40.0899 36C35.9474 36 32.1317 34.6006 29.0898 32.2488C26.0482 34.6002 22.2313 36 18.0898 36C17.4138 36 16.7465 35.9627 16.0898 35.8901V33.8762C16.745 33.9579 17.4125 34 18.0898 34C21.6281 34 24.8962 32.8525 27.5452 30.9086C27.0636 30.4405 26.6081 29.9456 26.181 29.4264C23.8963 31.0469 21.1033 32 18.0899 32C17.4108 32 16.7431 31.9517 16.0898 31.8582V29.8341C16.7403 29.9432 17.4085 30 18.0899 30C20.6628 30 23.0446 29.1913 24.9979 27.8136C24.6328 27.2533 24.2981 26.6714 23.996 26.0703C22.3414 27.283 20.2987 28 18.0899 28C17.405 28 16.7361 27.9311 16.0898 27.7999V25.7479C16.7291 25.9125 17.3993 26 18.0899 26C20.0226 26 21.7938 25.3157 23.1769 24.1747C22.922 23.4767 22.7091 22.7585 22.5412 22.0232C21.4433 23.2372 19.8557 24 18.0899 24C17.3886 24 16.7154 23.8797 16.0898 23.6586V21.4648C16.6782 21.8052 17.3613 22 18.0899 22C20.299 22 22.0899 20.2091 22.0899 18C22.0899 15.7909 20.299 14 18.0899 14C15.8808 14 14.0899 15.7909 14.0899 18L14.0898 35.554C6.07389 33.7351 0.0898438 26.5663 0.0898438 18C0.0898438 8.05887 8.14877 0 18.0899 0C22.2324 0 26.048 1.39934 29.0899 3.75111C32.1316 1.3998 35.9483 0 40.0899 2.0365e-06ZM46.0898 3.16303V5.34723C50.8198 7.59414 54.0899 12.4152 54.0899 18C54.0899 25.732 47.8219 32 40.0899 32C32.3579 32 26.0899 25.732 26.0899 18C26.0899 13.5817 22.5082 10 18.0899 10C13.6716 10 10.0899 13.5817 10.0899 18C10.0899 20.0289 10.8452 21.8814 12.0899 23.2916V18C12.0899 14.6863 14.7762 12 18.0899 12C21.4036 12 24.0899 14.6863 24.0899 18C24.0899 26.8366 31.2533 34 40.0899 34C48.9265 34 56.0898 26.8366 56.0898 18C56.0898 11.2852 51.9535 5.53658 46.0898 3.16303ZM12.0899 26.0007L12.0898 28.3946C8.50306 26.3197 6.0899 22.4417 6.0899 18C6.0899 11.3726 11.4625 6 18.0899 6C24.7173 6 30.0899 11.3726 30.0899 18C30.0899 23.5228 34.5671 28 40.0899 28C45.6127 28 50.0899 23.5228 50.0899 18C50.0899 14.7284 48.5188 11.8237 46.0899 9.99929V7.60538C49.6767 9.68023 52.0899 13.5583 52.0899 18C52.0899 24.6274 46.7173 30 40.0899 30C33.4625 30 28.0899 24.6274 28.0899 18C28.0899 12.4772 23.6127 8 18.0899 8C12.567 8 8.08992 12.4772 8.08992 18C8.08992 21.2716 9.66101 24.1763 12.0899 26.0007ZM4.0899 18C4.0899 23.5848 7.35998 28.4058 12.0898 30.6527V32.837C6.2262 30.4634 2.08989 24.7148 2.0899 18C2.0899 9.16344 9.25334 2 18.0899 2C26.9265 2 34.0899 9.16344 34.0899 18C34.0899 21.3137 36.7762 24 40.0899 24C43.4036 24 46.0899 21.3137 46.0899 18L46.0899 12.7084C47.3346 14.1186 48.0899 15.9711 48.0899 18C48.0899 22.4183 44.5082 26 40.0899 26C35.6716 26 32.0899 22.4183 32.0899 18C32.0899 10.268 25.8219 4 18.0899 4C10.3579 4 4.0899 10.268 4.0899 18Z"
          fill="black"></path>
      </svg>
    </div>

    <div class="flex items-center justify-center">
      <svg
        width="169"
        height="40"
        viewBox="0 0 169 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.0148 2.5V40H0V2.5H10.0148Z"
          fill="#283841"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.0222 2.5H36.3037C43.2175 2.5 48.8222 8.09644 48.8222 15C48.8222 21.9036 43.2175 27.5 36.3037 27.5H25.037V40H15.0222V2.5ZM25.037 17.5H36.3037C37.6865 17.5 38.8074 16.3807 38.8074 15C38.8074 13.6193 37.6865 12.5 36.3037 12.5H25.037V17.5Z"
          fill="#283841"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M86.3778 2.5V21.875C86.3778 26.3623 90.0208 30 94.5148 30C99.0088 30 102.652 26.3623 102.652 21.875V2.5H112.667V21.875C112.667 31.8852 104.54 40 94.5148 40C84.4898 40 76.363 31.8852 76.363 21.875V2.5H86.3778Z"
          fill="#283841"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M52.5778 20C52.5778 10.335 60.4244 2.5 70.1037 2.5H72.6074V12.5H70.1037C65.9554 12.5 62.5926 15.8579 62.5926 20V21.25C62.5926 31.6053 54.1855 40 43.8148 40H42.563V30H43.8148C48.6545 30 52.5778 26.0825 52.5778 21.25V20Z"
          fill="#283841"></path>
        <path
          d="M169 3.75C169 5.82107 167.319 7.5 165.244 7.5C163.17 7.5 161.489 5.82107 161.489 3.75C161.489 1.67893 163.17 0 165.244 0C167.319 0 169 1.67893 169 3.75Z"
          fill="#283841"></path>
        <path
          d="M123.42 40L128.199 20.0181L131.752 32.0393C133.87 39.2091 144.041 39.2091 146.16 32.0393L149.712 20.0181L154.491 40H164.787L157.273 8.57949C155.486 1.10744 144.941 0.830781 142.763 8.19891L138.956 21.0833L135.148 8.19892C132.971 0.830824 122.425 1.1074 120.638 8.57948L113.124 40H123.42Z"
          fill="#283841"></path>
      </svg>
    </div>

    <div class="flex items-center justify-center">
      <svg
        width="144"
        height="40"
        viewBox="0 0 144 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.0415146 3.79152C0.30419 0.996547 2.15397 0.000698886 3.7973 0.000698886L3.79694 0C4.84659 0 5.87228 0.366428 6.73731 0.724511C10.2717 2.1881 13.7808 6.03477 15.2454 9.93735C15.3658 9.91028 15.4866 9.88461 15.6077 9.8603C15.6864 9.23402 16.0355 8.6514 16.5952 8.29399C16.9457 8.07056 17.3506 7.95222 17.7659 7.95222C18.2118 7.95222 18.6476 8.0917 19.0102 8.34364C19.259 8.24715 19.5255 8.19615 19.7975 8.19615C19.9592 8.19615 20.1206 8.21453 20.2777 8.24994C21.0019 8.41374 21.7236 8.75306 22.4343 9.26278C23.9804 5.6996 27.4045 2.07463 30.6641 0.72485C31.8536 0.232475 32.7509 0.0128341 33.5729 0.0128341C34.6728 0.0128341 37.252 0.462175 37.4491 4.62323C37.6503 8.87174 34.1558 14.2872 31.9035 16.7247C33.4535 19.0676 34.3494 21.6422 34.4438 24.059C34.4525 24.28 34.4397 24.5725 34.4136 25.0267C35.2606 25.6555 35.6992 26.5326 35.6628 27.5524C35.6333 28.3741 35.2141 29.0889 34.5507 29.5081C34.3397 30.2447 33.9445 30.8356 33.7526 31.1226C30.6377 35.7763 21.276 36.1379 18.4811 36.1379C15.2388 36.1379 12.0799 35.7323 9.58573 34.9956C6.36535 34.0445 4.24006 32.5803 3.26884 30.6437C3.06621 30.2391 2.92323 29.862 2.83754 29.5049C2.63629 29.3703 2.45724 29.2041 2.30631 29.0108C2.24523 28.9328 2.18832 28.8488 2.13766 28.761C1.74349 28.0799 1.65467 27.303 1.88678 26.5729C2.07938 25.9684 2.47633 25.4455 3.06966 25.0128C3.03393 24.3258 3.01796 23.8633 3.04746 23.5395C3.27579 21.0416 4.08391 18.6699 5.39587 16.6283C4.78343 15.9027 3.73796 14.5713 2.7369 12.9221C0.694888 9.55843 -0.211778 6.48655 0.0415146 3.79152Z"
          fill="#20185B"></path>
        <path
          d="M33.4875 27.4747C33.5191 26.5954 32.2311 26.4181 32.1877 26.3373C32.1356 26.2408 32.2838 24.525 32.2689 24.1436C32.053 18.6272 26.6973 12.8 22.8038 12.5664C22.6709 12.5585 21.4228 10.7403 19.7978 10.3728C19.9866 10.9238 19.9176 11.4936 19.6355 12.0789L17.7669 10.1292C17.7669 10.1292 18.9946 13.2739 18.0921 14.435L17.6857 11.7541C11.0364 12.3728 5.83651 16.9402 5.21471 23.7377C5.17412 24.1808 5.33512 26.1364 5.29591 26.2561C5.26086 26.363 3.54224 26.8425 4.02143 27.6711C4.05266 27.711 4.10505 27.727 4.17237 27.727C4.4274 27.727 4.89653 27.5004 5.24247 27.5004C5.3601 27.5004 5.4635 27.5264 5.53949 27.5968C4.88751 28.4279 4.69215 28.6267 5.21437 29.6683C6.65436 32.54 12.5417 33.9616 18.4807 33.9616C24.2865 33.9616 30.1422 32.6032 31.9437 29.9119C32.2342 29.4782 32.7057 28.7245 32.4313 28.2058C32.366 28.0823 31.6544 27.7183 31.9031 27.3526C32.1176 27.4282 32.764 27.7235 33.1617 27.7235C33.3487 27.7235 33.4809 27.6586 33.4875 27.4747Z"
          fill="#FFC0C0"></path>
        <path
          d="M27.1096 27.5969C30.3258 27.3221 30.9431 30.6628 27.9219 30.8467C24.9288 31.0289 24.1619 27.8488 27.1096 27.5969Z"
          fill="#F6A7A8"></path>
        <path
          d="M9.72345 27.5968C12.6381 27.4341 13.0802 30.3849 10.4546 30.7655C6.77997 31.2978 6.63597 27.7693 9.72345 27.5968Z"
          fill="#F6A7A8"></path>
        <path
          d="M20.6914 13.054C20.8885 13.1234 20.3024 14.1331 20.1633 14.232L21.4225 13.7851C21.3736 14.4894 18.691 15.2837 18.5383 14.9631C19.412 14.538 20.0803 13.7972 20.6914 13.054Z"
          fill="#20185B"></path>
        <path
          d="M26.0536 21.747C29.3757 21.2029 30.2948 27.0173 26.6223 27.2717C22.9706 27.5246 23.5244 22.1613 26.0536 21.747Z"
          fill="#20185B"></path>
        <path
          d="M26.4596 22.8032C27.7344 22.5218 27.8444 24.5426 26.9471 24.7529C25.6438 25.0586 25.5543 23.0031 26.4596 22.8032Z"
          fill="white"></path>
        <path
          d="M10.5357 21.747C14.1881 21.1814 14.821 28.0098 10.5357 27.1905C7.58773 26.627 8.26401 22.0989 10.5357 21.747Z"
          fill="#20185B"></path>
        <path
          d="M10.4546 22.8033C11.9442 22.4379 11.8731 25.167 10.4546 24.753C9.7804 24.5563 9.72662 22.9817 10.4546 22.8033Z"
          fill="white"></path>
        <path
          d="M18.4165 26.1343C19.2268 26.0267 20.5418 26.4046 19.6758 27.3935C19.3333 27.7849 18.8059 27.5153 18.9447 28.2058C19.0755 28.8574 20.327 28.9057 20.732 28.3682C20.843 28.2207 20.7313 27.4462 21.2195 27.8807C21.4166 28.5316 20.6185 28.8623 20.4884 29.0993C20.3309 29.3859 20.3461 30.0837 20.0821 30.4803C19.5383 31.2967 18.2181 31.3727 17.5636 30.6427C17.1497 30.1812 17.243 29.5087 17.0761 29.1801C16.9627 28.9567 15.6483 28.0215 16.548 27.7582C16.7926 29.0358 18.4873 29.1215 18.6199 27.7988C17.9651 27.5666 17.5241 27.2721 17.6448 26.499C17.7417 26.1988 18.2951 26.1496 18.4165 26.1332V26.1343Z"
          fill="#20185B"></path>
        <path
          d="M19.9197 30.1153C19.1778 29.8672 18.3173 29.693 17.6448 30.1965C17.4752 29.8665 17.4287 29.6271 17.4012 29.2621C17.7906 29.4411 18.6573 28.7339 18.7822 28.7339C18.8922 28.7339 18.9603 28.9945 19.3916 29.1403C19.8565 29.2971 20.4526 28.8762 19.9197 30.1153Z"
          fill="#CC3A4D"></path>
        <path
          d="M19.9196 30.1152C19.4935 31.1059 18.1368 31.1527 17.6448 30.1964C18.3172 29.6926 19.1778 29.8671 19.9196 30.1152Z"
          fill="#EA767E"></path>
        <path
          d="M18.0917 14.435C19.7805 12.8756 17.7666 10.1292 17.7666 10.1292C17.7666 10.1292 18.9942 13.2739 18.0917 14.435Z"
          fill="#FFDEDE"></path>
        <path
          d="M19.8999 12.3048C20.5338 11.2993 19.7975 10.3728 19.7975 10.3728C19.9863 10.9238 19.9172 11.4936 19.6351 12.0789C19.6351 12.0789 19.7888 12.2198 19.8999 12.3048Z"
          fill="#FFDEDE"></path>
        <path
          d="M17.8016 12.5217L17.6854 11.7542C14.0636 12.0911 10.8744 13.6015 8.61795 16.0037L8.60754 16.0384C8.60754 16.0384 12.6458 12.555 17.8016 12.5217Z"
          fill="#FFDEDE"></path>
        <path
          d="M22.8038 12.5664C22.6709 12.5584 27.1432 14.6657 28.7487 16.1848C26.9253 14.1119 24.6931 12.6795 22.8038 12.5664Z"
          fill="#FFDEDE"></path>
        <path
          d="M18.761 33.4602C6.77129 33.5754 4.91699 28.7343 4.91699 28.7343V28.787C4.92775 29.0157 5.02213 29.2849 5.21436 29.6683C6.65435 32.54 12.5417 33.9616 18.4807 33.9616C24.2865 33.9616 30.1422 32.6032 31.9437 29.9119C32.0975 29.6822 32.2994 29.3626 32.417 29.0358C29.3965 32.676 23.2549 33.4217 18.761 33.4602Z"
          fill="#F6A7A8"></path>
        <path
          d="M7.97364 14.07C8.12458 14.2258 8.27275 14.3802 8.40079 14.5163C9.04861 13.9118 9.75819 13.3674 10.5205 12.8861L10.5129 12.8001C10.2783 10.224 9.14958 7.74586 7.24046 5.60599C7.04025 5.38149 6.81194 5.18337 6.57113 5.00293C6.56974 5.00189 6.5687 5.0012 6.56731 5.00016C5.90838 4.50674 5.28103 4.03727 4.54924 3.81104C3.81398 7.95891 6.25537 11.892 7.36364 13.4191C7.42437 13.5027 7.72867 13.8174 7.9733 14.0704L7.97364 14.07Z"
          fill="#EA767E"></path>
        <path
          d="M11.6096 12.2615L11.5514 12.2824C11.1211 9.07275 9.72829 6.87945 7.16406 5.01093C9.16236 7.1147 10.5611 9.77053 10.8484 12.6835C11.0965 12.5357 11.3508 12.3958 11.6096 12.2615Z"
          fill="#FFDEDE"></path>
        <path
          d="M8.15161 14.7577C7.78103 14.3639 7.19705 13.7799 7.08289 13.6227C5.01139 10.7687 3.49887 6.92518 4.27994 3.38592C5.4014 3.60382 6.26678 4.35678 7.16409 5.01085C9.72831 6.87903 11.1211 9.07267 11.5514 12.2823L11.6097 12.2615C12.1999 11.9558 12.8161 11.6848 13.4574 11.453C12.456 8.01888 9.19777 4.09932 5.90487 2.73567C4.1977 2.02851 2.43467 1.58853 2.20808 3.99488C1.73133 9.06504 6.78206 14.9305 7.37228 15.587C7.62037 15.3 7.88027 15.0238 8.15161 14.7577Z"
          fill="#FFC0C0"></path>
        <path
          d="M7.97361 14.07C8.12594 14.2275 8.27653 14.384 8.40526 14.5211C8.67764 14.266 8.95697 14.0176 9.25086 13.7841C8.95558 11.1577 7.43682 6.82698 4.53394 6.90679C4.97495 9.80863 6.53847 12.2816 7.36395 13.419C7.42468 13.5026 7.72898 13.817 7.97361 14.07Z"
          fill="#F6A7A8"></path>
        <path
          d="M8.15155 14.7577C7.88229 14.4715 7.50234 14.087 7.26917 13.8361C7.50165 14.0863 7.88229 14.4715 8.15155 14.7577Z"
          fill="#F6A7A8"></path>
        <path
          d="M4.19629 6.93353L4.19664 6.93492L4.19629 6.93353Z"
          fill="#F6A7A8"></path>
        <path
          d="M6.1623 12.2161C6.12969 12.1609 6.09672 12.1064 6.06445 12.0509C6.09638 12.1064 6.12969 12.1609 6.1623 12.2161Z"
          fill="#F6A7A8"></path>
        <path
          d="M7.08289 13.6227C7.09746 13.6432 7.12071 13.671 7.14985 13.7043C7.12071 13.671 7.09781 13.6429 7.08289 13.6227Z"
          fill="#F6A7A8"></path>
        <path
          d="M7.16895 13.7255C7.19497 13.755 7.22377 13.7865 7.25743 13.8233C7.22342 13.7865 7.19532 13.7553 7.16895 13.7255Z"
          fill="#F6A7A8"></path>
        <path
          d="M6.62454 12.9569C6.58359 12.8951 6.54403 12.8323 6.50378 12.7695C6.54403 12.832 6.58359 12.8948 6.62454 12.9569Z"
          fill="#F6A7A8"></path>
        <path
          d="M29.4882 14.07C29.3372 14.2258 29.1891 14.3802 29.061 14.5163C28.4132 13.9118 27.7036 13.3674 26.9413 12.8861L26.9489 12.8001C27.1835 10.224 28.3122 7.74586 30.2213 5.60599C30.4216 5.38149 30.6499 5.18337 30.8907 5.00293C30.8921 5.00189 30.8931 5.0012 30.8945 5.00016C31.5534 4.50674 32.1808 4.03727 32.9126 3.81104C33.6478 7.95891 31.2064 11.892 30.0982 13.4191C30.0374 13.5027 29.7331 13.8174 29.4885 14.0704L29.4882 14.07Z"
          fill="#EA767E"></path>
        <path
          d="M25.8521 12.2615L25.9103 12.2824C26.3406 9.07275 27.7334 6.87945 30.2976 5.01093C28.2993 7.1147 26.9006 9.77053 26.6133 12.6835C26.3652 12.5357 26.1109 12.3958 25.8521 12.2615Z"
          fill="#FFDEDE"></path>
        <path
          d="M29.3102 14.7577C29.6807 14.3639 30.2647 13.7799 30.3789 13.6227C32.4504 10.7687 33.9629 6.92518 33.1818 3.38592C32.0604 3.60382 31.195 4.35678 30.2977 5.01085C27.7335 6.87903 26.3407 9.07267 25.9104 12.2823L25.8521 12.2615C25.2619 11.9558 24.6456 11.6848 24.0044 11.453C25.0058 8.01888 28.264 4.09932 31.5569 2.73567C33.2641 2.02851 35.0271 1.58853 35.2537 3.99488C35.7304 9.06504 30.6797 14.9305 30.0895 15.587C29.8414 15.3 29.5815 15.0238 29.3102 14.7577Z"
          fill="#FFC0C0"></path>
        <path
          d="M29.4882 14.07C29.3359 14.2275 29.1853 14.384 29.0565 14.5211C28.7842 14.266 28.5048 14.0176 28.2109 13.7841C28.5062 11.1577 30.025 6.82698 32.9279 6.90679C32.4868 9.80863 30.9233 12.2816 30.0978 13.419C30.0371 13.5026 29.7328 13.817 29.4882 14.07Z"
          fill="#F6A7A8"></path>
        <path
          d="M29.3102 14.7577C29.5794 14.4715 29.9594 14.087 30.1926 13.8361C29.9601 14.0863 29.5794 14.4715 29.3102 14.7577Z"
          fill="#F6A7A8"></path>
        <path
          d="M33.2655 6.93353L33.2651 6.93492L33.2655 6.93353Z"
          fill="#F6A7A8"></path>
        <path
          d="M31.2994 12.2161C31.3321 12.1609 31.365 12.1064 31.3973 12.0509C31.3654 12.1064 31.3321 12.1609 31.2994 12.2161Z"
          fill="#F6A7A8"></path>
        <path
          d="M30.3789 13.6227C30.3643 13.6432 30.341 13.671 30.3119 13.7043C30.341 13.671 30.3639 13.6429 30.3789 13.6227Z"
          fill="#F6A7A8"></path>
        <path
          d="M30.2928 13.7255C30.2668 13.755 30.238 13.7865 30.2043 13.8233C30.2384 13.7865 30.2665 13.7553 30.2928 13.7255Z"
          fill="#F6A7A8"></path>
        <path
          d="M30.8373 12.9569C30.8782 12.8951 30.9178 12.8323 30.958 12.7695C30.9178 12.832 30.8782 12.8948 30.8373 12.9569Z"
          fill="#F6A7A8"></path>
        <path
          d="M111.259 35.5957V39.5475H110.353V39.2342H107.916V39.5534H107.034V35.5961H111.259L111.259 35.5957ZM110.347 38.4157V36.4136H107.911V38.4157H110.347Z"
          fill="#20185B"></path>
        <path
          d="M116.326 35.7175V39.7505H115.403V39.4604H112.165V38.6249H115.403V36.553H112.212V35.7175H116.326ZM115.45 34.6207C115.688 34.8126 115.989 35.1547 116.146 35.3577L115.751 35.6828C115.618 35.4798 115.275 35.1026 115.078 34.9285L115.45 34.6207ZM116.436 34.5339C116.686 34.7196 116.976 35.027 117.132 35.2532L116.744 35.5784C116.605 35.3813 116.28 35.0097 116.071 34.8414L116.436 34.5339Z"
          fill="#20185B"></path>
        <path
          d="M119.467 37.383C118.997 37.6908 118.243 38.1027 117.68 38.3695C117.564 38.1724 117.326 37.8532 117.146 37.6908C118.626 37.0468 120.367 35.857 121.237 34.8185L122.108 35.4566C122.072 35.5034 122.009 35.5322 121.91 35.5263C121.458 35.9614 120.93 36.4084 120.384 36.8088L120.593 36.8782C120.576 36.9361 120.518 36.9885 120.408 37.0059V39.9886H119.468V37.383H119.467Z"
          fill="#20185B"></path>
        <path
          d="M122.404 35.4909H126.002L126.054 35.4559L126.82 35.9899C126.791 36.0249 126.751 36.0596 126.704 36.0829C126.159 38.2533 125.189 39.2568 123.414 39.965C123.286 39.7443 123.025 39.4136 122.845 39.228C124.366 38.6593 125.346 37.6842 125.613 36.3438H122.404V35.4909ZM126.861 34.5568C127.203 34.5568 127.482 34.8355 127.482 35.1776C127.482 35.5197 127.203 35.7987 126.861 35.7987C126.518 35.7987 126.24 35.5201 126.24 35.1776C126.24 34.8237 126.53 34.5568 126.861 34.5568ZM127.25 35.1776C127.25 34.9632 127.076 34.789 126.861 34.789C126.646 34.789 126.472 34.9632 126.472 35.1776C126.472 35.392 126.646 35.5666 126.861 35.5666C127.087 35.5666 127.25 35.3809 127.25 35.1776Z"
          fill="#20185B"></path>
        <path
          d="M132.688 36.8608H131.684V37.0465C131.684 38.3057 131.243 39.3328 129.88 40C129.717 39.8144 129.45 39.5475 129.23 39.3851C130.495 38.8109 130.791 37.9982 130.791 37.0524V36.8608H129.474V38.1027H128.592V36.8608H127.651V36.0194H128.592V34.9052L129.659 34.9691C129.653 35.0329 129.595 35.1082 129.474 35.1318V36.0197H130.791V34.8299L131.87 34.8879C131.864 34.9576 131.806 35.01 131.684 35.0329V36.0197H132.688V36.8612V36.8608Z"
          fill="#20185B"></path>
        <path
          d="M137.344 39.8956C137.251 39.652 137.164 39.4427 137.071 39.2571C135.777 39.4139 134.355 39.5413 133.508 39.5822C133.491 39.6464 133.439 39.7044 133.374 39.7099L133.084 38.6887C133.253 38.6887 133.456 38.6828 133.676 38.6773C134.018 37.6152 134.477 36.002 134.726 34.917L135.841 35.2012C135.823 35.265 135.748 35.3112 135.649 35.3174C135.388 36.2515 134.976 37.5572 134.605 38.6481C135.156 38.6252 136.136 38.5496 136.67 38.4917C136.455 38.1145 136.217 37.7606 135.991 37.4819L136.74 37.0756C137.303 37.7373 137.895 38.7644 138.219 39.4667L137.344 39.8959L137.344 39.8956Z"
          fill="#20185B"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M140.945 17.1502C142.482 17.1502 143.727 15.9045 143.727 14.3678C143.727 12.8311 142.482 11.5854 140.945 11.5854C139.986 11.5854 139.14 12.0707 138.64 12.809C138.42 12.769 138.223 12.7576 138.067 12.7576H133.875C133.241 12.7576 132.59 12.9461 132.032 13.3849C131.884 13.5015 131.754 13.6262 131.641 13.7541C131.588 13.6892 131.53 13.6254 131.468 13.5629C130.84 12.9348 130.062 12.7576 129.46 12.7576H125.267C124.8 12.7576 124.232 12.8559 123.697 13.1808C123.123 12.8219 122.517 12.7576 122.148 12.7576H119.879C119.284 12.7576 118.567 12.9219 117.95 13.447C117.839 13.5411 117.74 13.6401 117.65 13.7424C117.64 13.7299 117.629 13.7174 117.619 13.705C116.916 12.8772 115.968 12.7576 115.464 12.7576H113.196C112.601 12.7576 111.884 12.9217 111.266 13.4473C111.053 13.6286 110.881 13.8281 110.743 14.0346C109.569 12.9968 107.91 12.4342 105.823 12.4342C103.208 12.4342 101.34 13.3784 100.086 14.6057C98.7519 13.1413 96.7505 12.7576 94.8054 12.7576H90.2928L90.2359 12.7605C89.7914 12.783 89.2439 12.8971 88.7277 13.2257C88.1334 12.827 87.4923 12.7576 87.1082 12.7576H84.8806C84.2848 12.7576 83.5682 12.9219 82.9509 13.447C82.7164 13.6465 82.5316 13.868 82.3868 14.0966C82.0678 13.7857 81.6952 13.5033 81.2637 13.2616C80.2017 12.6667 78.9177 12.3929 77.4471 12.3929C74.6112 12.3929 72.6067 13.4132 71.2882 14.8547C70.1741 13.237 68.2538 12.3929 65.7002 12.3929C62.8442 12.3929 60.8313 13.4278 59.5132 14.8855C59.2962 14.5664 59.0378 14.2631 58.7338 13.9849L58.4999 13.6341L58.4769 13.7648C58.2502 13.5829 58.0013 13.4141 57.729 13.2616C56.667 12.6667 55.383 12.3929 53.9124 12.3929C50.862 12.3929 48.7735 13.5734 47.466 15.1887C46.2485 16.6928 45.8727 18.3703 45.7355 19.1882L44.9855 23.4503H42.7791L44.0796 16.0279C44.1809 15.4893 44.2138 14.534 43.509 13.7046C42.8065 12.8777 41.8596 12.7577 41.355 12.7576L39.0867 12.7573C38.491 12.7573 37.7744 12.9216 37.1571 13.4467C36.5504 13.9627 36.2764 14.6262 36.1661 15.1786L36.1612 15.2033L33.8648 28.2097L33.8616 28.23C33.7728 28.7932 33.7929 29.6896 34.4392 30.4692C35.0975 31.2631 35.9954 31.4445 36.5957 31.4445H44.5951C45.1677 31.4445 45.9032 31.2974 46.5408 30.7546C46.6344 30.6749 46.72 30.5917 46.7982 30.5059C47.0022 30.6624 47.2234 30.8085 47.4625 30.9421C48.5249 31.5357 49.809 31.8096 51.2798 31.8096C54.136 31.8096 56.1448 30.7745 57.4602 29.3166C57.8872 29.9428 58.4738 30.5076 59.2496 30.9411C60.3121 31.5347 61.5961 31.8085 63.067 31.8085C65.9062 31.8085 67.9082 30.7856 69.224 29.3413C69.6496 29.9581 70.2312 30.5141 70.9972 30.9421C72.0596 31.5357 73.3437 31.8096 74.8145 31.8096C77.0497 31.8096 78.766 31.1756 80.0371 30.2012C80.0949 30.2917 80.16 30.3813 80.2331 30.4695C80.8914 31.2635 81.7893 31.4449 82.3896 31.4449H84.6172C85.1336 31.4449 85.7222 31.322 86.2586 30.9747C86.8101 31.346 87.4156 31.4449 87.8588 31.4449H90.127C90.6999 31.4449 91.4351 31.2974 92.0724 30.755C92.6979 30.2225 92.9654 29.5341 93.0595 28.9603L93.4172 26.9862C94.4977 26.9625 95.5291 26.8135 96.4765 26.487C96.5725 27.3319 96.8388 28.2845 97.445 29.1712C98.5875 30.8424 100.557 31.7485 103.21 31.7485C106.124 31.7485 108.186 30.6781 109.544 29.3615C109.968 29.9703 110.545 30.5188 111.303 30.9421C112.365 31.5357 113.649 31.8096 115.12 31.8096C117.385 31.8096 119.117 31.1587 120.393 30.1622C120.451 30.257 120.517 30.3512 120.592 30.4441C121.265 31.2814 122.2 31.4449 122.776 31.4449H125.045C125.596 31.4449 126.229 31.3048 126.793 30.9017C127.383 31.3392 128.035 31.4449 128.508 31.4449H129.844C130.415 31.4449 131.033 31.2969 131.59 30.9145L131.606 30.9029C132.184 31.3332 132.837 31.4449 133.308 31.4449H135.576C136.199 31.4449 136.927 31.2657 137.542 30.7295C138.141 30.2067 138.412 29.5367 138.508 28.9603L140.597 17.1286C140.711 17.1429 140.827 17.1502 140.945 17.1502Z"
          fill="#20185B"></path>
        <path
          d="M41.355 15.0131C41.7599 15.0131 41.9421 15.2157 41.8612 15.6206L40.2006 25.0982C40.1197 25.483 40.3019 25.7058 40.6867 25.7058H45.2027C45.608 25.7058 45.7902 25.9084 45.709 26.3134L45.304 28.5816C45.2433 28.9865 45.0004 29.1892 44.5951 29.1892H36.5957C36.2109 29.1892 36.0287 28.9664 36.0895 28.5816L38.3778 15.6203C38.4587 15.2154 38.7023 15.0127 39.0867 15.0127L41.355 15.0131Z"
          fill="url(#paint0_linear_5416_69)"></path>
        <path
          d="M57.2338 24.6329C56.9909 25.9695 56.0797 29.5542 51.2798 29.5542C46.48 29.5542 46.8245 25.9695 47.0674 24.6329L47.9585 19.5697C48.1812 18.2331 49.1126 14.6484 53.9124 14.6484C58.7123 14.6484 58.3472 18.2331 58.1248 19.5697L57.2338 24.6329ZM54.4391 20.6433C54.7223 19.0839 54.7833 18.1321 53.2847 18.1321C51.7861 18.1321 51.5227 19.0839 51.2392 20.6433L50.733 23.5593C50.4495 25.1187 50.3888 26.0705 51.8871 26.0705C53.3853 26.0705 53.649 25.1187 53.9329 23.5593L54.4391 20.6433Z"
          fill="url(#paint1_linear_5416_69)"></path>
        <path
          d="M59.7463 19.5697C59.9691 18.2331 60.9004 14.6484 65.7002 14.6484C69.9532 14.6484 70.1555 17.4434 69.9935 19.0228C69.9328 19.3872 69.71 19.6099 69.3457 19.6911L66.9556 20.1974C66.5507 20.2782 66.348 20.0961 66.3886 19.6707C66.4695 18.6984 66.2266 18.1314 65.0722 18.1314C63.5735 18.1314 63.3102 19.0832 63.0267 20.6426L62.5204 23.5586C62.237 25.118 62.1762 26.0698 63.6745 26.0698C65.1728 26.0698 65.4365 25.118 65.619 24.1256H64.4441C64.0597 24.1256 63.8772 23.9025 63.9379 23.518L64.2214 21.8976C64.3022 21.4927 64.5656 21.29 64.9504 21.29H69.0011C69.406 21.29 69.5681 21.4927 69.4869 21.8976L69.0209 24.6319C68.778 25.9685 67.8668 29.5532 63.0669 29.5532C58.2671 29.5532 58.6116 25.9685 58.8545 24.6319L59.7456 19.5686L59.7463 19.5697Z"
          fill="url(#paint2_linear_5416_69)"></path>
        <path
          d="M80.7684 24.6329C80.5256 25.9695 79.6144 29.5542 74.8145 29.5542C70.0147 29.5542 70.3592 25.9695 70.6021 24.6329L71.4932 19.5697C71.7159 18.2331 72.6472 14.6484 77.4471 14.6484C82.247 14.6484 81.8819 18.2331 81.6595 19.5697L80.7684 24.6329ZM77.9738 20.6433C78.257 19.0839 78.318 18.1321 76.8194 18.1321C75.3208 18.1321 75.0574 19.0839 74.7739 20.6433L74.2677 23.5593C73.9842 25.1187 73.9235 26.0705 75.4217 26.0705C76.92 26.0705 77.1837 25.1187 77.4676 23.5593L77.9738 20.6433Z"
          fill="url(#paint3_linear_5416_69)"></path>
        <path
          d="M87.1082 15.0131C87.5135 15.0131 87.6957 15.2157 87.6148 15.6206L85.3261 28.582C85.2654 28.9668 85.0225 29.1895 84.6172 29.1895H82.3896C82.0048 29.1895 81.8226 28.9668 81.8833 28.582L84.1717 15.6206C84.2525 15.2157 84.4961 15.0131 84.8806 15.0131H87.1082Z"
          fill="url(#paint4_linear_5416_69)"></path>
        <path
          d="M94.8051 15.0131C98.4099 15.0131 99.6046 16.5523 99.0175 19.8736C98.4304 23.1947 96.709 24.7342 93.1038 24.7342H92.1319C91.7471 24.7342 91.4837 24.9365 91.423 25.3418L90.8359 28.582C90.7748 28.9869 90.5319 29.1895 90.127 29.1895H87.8588C87.474 29.1895 87.2918 28.9668 87.3525 28.582L89.6409 15.6411C89.702 15.2358 89.9448 15.0335 90.3498 15.0131H94.8051ZM93.8328 21.2508C94.8051 21.2508 95.3113 21.129 95.5337 19.8736C95.7569 18.6179 95.2909 18.4965 94.3186 18.4965H93.2253C92.8404 18.4965 92.5771 18.6988 92.5164 19.104L92.2329 20.6433C92.1721 21.0277 92.3547 21.2508 92.7391 21.2508H93.8328Z"
          fill="url(#paint5_linear_5416_69)"></path>
        <path
          d="M107.322 20.0357C106.896 20.1165 106.734 19.9344 106.734 19.5294C106.734 18.6988 106.167 18.1727 105.216 18.1727C104.426 18.1727 103.859 18.6384 103.859 19.1044C103.859 20.6839 110.258 20.6436 109.448 25.3012C109.347 25.9088 108.01 29.4931 103.21 29.4931C98.9575 29.4931 98.5525 26.6985 98.7146 25.119C98.7753 24.7544 98.9981 24.5319 99.3627 24.4507L101.752 23.9445C102.157 23.8636 102.36 24.0458 102.319 24.4712C102.239 25.4431 102.887 26.0104 103.839 26.0104C104.831 26.0104 105.661 25.4233 105.641 24.8761C105.56 23.1548 99.3829 23.5392 100.213 18.8816C100.294 18.274 101.286 14.6897 105.823 14.6897C109.995 14.6897 110.501 17.4031 110.359 18.8615C110.319 19.2258 110.096 19.4486 109.711 19.5298L107.322 20.0357Z"
          fill="url(#paint6_linear_5416_69)"></path>
        <path
          d="M115.464 15.0131C115.87 15.0131 116.051 15.2157 115.971 15.6206L114.574 23.5593C114.29 25.1187 114.229 26.0705 115.728 26.0705C117.226 26.0705 117.49 25.1187 117.773 23.5593L119.17 15.6206C119.251 15.2157 119.495 15.0131 119.879 15.0131H122.148C122.553 15.0131 122.735 15.2157 122.654 15.6206L121.074 24.6329C120.831 25.9695 119.92 29.5542 115.12 29.5542C110.32 29.5542 110.665 25.9695 110.908 24.6329L112.487 15.6206C112.568 15.2157 112.812 15.0131 113.196 15.0131H115.464Z"
          fill="url(#paint7_linear_5416_69)"></path>
        <path
          d="M129.46 15.0131C129.824 15.0131 130.006 15.2157 130.027 15.5599L130.412 21.4531C130.432 21.6554 130.594 21.6554 130.655 21.4531L133.146 15.5599C133.287 15.2157 133.51 15.0131 133.875 15.0131H138.067C138.472 15.0131 138.654 15.2157 138.573 15.6206L136.285 28.582C136.224 28.9668 135.981 29.1895 135.576 29.1895H133.308C132.923 29.1895 132.741 28.9668 132.801 28.582L134.219 20.6027C134.239 20.4611 134.057 20.4406 133.996 20.5825L130.614 28.6628C130.472 29.007 130.209 29.1895 129.844 29.1895H128.508C128.143 29.1895 127.961 29.0074 127.941 28.6628L127.394 20.5825C127.374 20.4406 127.191 20.4607 127.171 20.6027L125.753 28.582C125.692 28.9668 125.45 29.1895 125.045 29.1895H122.776C122.371 29.1895 122.209 28.9668 122.27 28.582L124.558 15.6206C124.639 15.2157 124.862 15.0131 125.267 15.0131H129.46Z"
          fill="url(#paint8_linear_5416_69)"></path>
        <path
          d="M141.992 14.3678C141.992 14.9463 141.523 15.4153 140.945 15.4153C140.367 15.4153 139.898 14.9463 139.898 14.3678C139.898 13.7893 140.367 13.3204 140.945 13.3204C141.523 13.3204 141.992 13.7893 141.992 14.3678Z"
          fill="url(#paint9_linear_5416_69)"></path>
        <defs>
          <linearGradient
            id="paint0_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint1_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint2_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint3_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint4_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint5_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint6_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint7_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint8_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
          <linearGradient
            id="paint9_linear_5416_69"
            x1="89.0352"
            y1="13.3204"
            x2="90.7745"
            y2="30.2853"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#FFD4D4"></stop>
            <stop offset="0.501102" stop-color="#F6A7A8"></stop>
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="flex items-center justify-center">
      <svg
        width="139"
        height="62"
        viewBox="0 0 139 62"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M81.5395 11.1227C81.7847 11.3686 82.1019 11.5333 82.4622 11.4489C85.5885 10.7154 88.6511 9.71673 91.4866 8.18983C91.8277 8.0062 92.0897 7.58754 92.2184 7.23871C92.3653 6.83993 92.4248 6.29244 92.3067 5.87685C92.2085 5.53223 92.0387 5.1286 91.6963 4.95968C91.3686 4.79804 91.0441 4.80919 90.718 4.98474C89.8093 5.4742 88.8746 5.91193 87.9191 6.30198C86.1065 7.01209 84.2325 7.54163 82.3383 7.986C81.517 8.17868 81.0824 9.21935 81.1375 9.99217C81.1653 10.3824 81.2516 10.8342 81.5395 11.1227Z"
          fill="black"></path>
        <path
          d="M131.57 12.0507C131.441 11.7787 131.235 11.4497 130.898 11.4213C130.542 11.3914 130.312 11.5795 130.064 11.8121C128.818 12.982 127.806 14.3721 126.569 15.5489C126.161 15.9121 125.728 16.2435 125.268 16.539C125.411 16.2378 125.557 15.9384 125.711 15.6428C126.185 14.731 126.712 13.8479 127.285 12.995C127.509 12.6734 127.726 12.3566 127.873 11.9833C128.078 11.4643 128.089 10.7613 127.868 10.2453C127.726 9.91329 127.333 9.44339 126.903 9.63332C126.666 9.73807 126.524 9.83263 126.334 10.0295C126.273 10.0926 126.215 10.1587 126.156 10.2238C126.019 10.3766 125.883 10.5303 125.747 10.6847C125.474 10.996 125.204 11.3102 124.936 11.6266C124.426 12.2297 123.925 12.8405 123.425 13.4517C122.445 14.6479 121.465 15.8445 120.418 16.9827C120.127 17.2988 119.832 17.611 119.53 17.9179C119.71 17.5601 119.884 17.1991 120.054 16.8364C120.726 15.3985 121.335 13.9316 122.037 12.5075C122.242 12.0915 122.455 11.6789 122.678 11.2721C122.785 11.0763 122.895 10.882 123.007 10.6892C123.067 10.5861 123.131 10.4847 123.189 10.3806C123.36 10.0764 123.442 9.75924 123.525 9.4206C123.611 9.06385 123.568 8.47756 123.408 8.13956C123.262 7.83066 123.079 7.60807 122.736 7.51012C122.209 7.35963 121.744 8.05227 121.429 8.39399C121.221 8.61932 121.013 8.8445 120.805 9.06934C120.346 9.56543 119.885 10.0606 119.424 10.5552C118.437 11.6148 117.447 12.6722 116.458 13.7304C115.682 14.5607 114.905 15.3901 114.13 16.2221C114.394 15.4448 114.653 14.665 114.908 13.8839C115.137 13.1822 115.371 12.4817 115.59 11.7771C115.836 10.9877 115.908 9.96162 115.337 9.2811C114.96 8.8314 114.334 8.70726 113.843 9.06433C113.378 9.40233 113.11 9.98635 112.809 10.4661C112.594 10.8093 112.38 11.1526 112.165 11.4961C111.763 12.139 111.361 12.782 110.957 13.4239C110.231 14.5787 109.5 15.7312 108.733 16.8601C108.016 17.9055 107.261 18.953 106.343 19.8304C106.044 20.0921 105.723 20.3282 105.372 20.5148C105.12 20.62 104.858 20.6935 104.587 20.7296C104.59 20.7162 104.592 20.7028 104.595 20.6895C104.604 20.6536 104.614 20.6176 104.624 20.5819C104.738 20.1836 104.877 19.7925 105.028 19.4067C105.103 19.2127 105.184 19.0207 105.265 18.829L105.267 18.8248C105.316 18.7155 105.365 18.6067 105.415 18.4981C106.121 16.971 106.939 15.4947 107.801 14.0514C107.988 13.7391 108.176 13.4273 108.371 13.12C108.572 12.8038 108.646 12.3932 108.673 12.0294C108.699 11.6899 108.688 11.2973 108.539 10.9829C108.444 10.7829 108.322 10.5924 108.14 10.4606C107.888 10.2778 107.53 10.3444 107.292 10.5062C105.177 11.9421 103.083 13.4121 101.042 14.9519L101.042 14.9468C101.047 14.8989 101.051 14.8509 101.056 14.803C101.074 14.6243 101.096 14.4458 101.122 14.2678C101.148 14.0908 101.178 13.9143 101.211 13.7386C101.227 13.6557 101.27 13.481 101.295 13.3727C101.365 13.1229 101.438 12.8746 101.527 12.6305C101.557 12.5492 101.59 12.4697 101.622 12.3895C101.663 12.2979 101.736 12.1343 101.773 12.0616C101.83 11.9502 101.892 11.8419 101.954 11.7332C102.267 11.3353 102.575 10.9333 102.874 10.5238C103.137 10.1624 103.31 9.78818 103.381 9.34155C103.442 8.95377 103.437 8.42681 103.264 8.06052C103.135 7.78847 102.929 7.45952 102.592 7.43107C102.246 7.40198 101.991 7.57979 101.759 7.82193C101.312 8.28795 100.927 8.79665 100.593 9.33573C99.5179 10.664 98.3575 11.9169 97.118 13.1013C96.9716 13.2412 96.8241 13.3803 96.6767 13.5193C96.6319 12.8879 96.4792 12.235 96.185 11.686C95.8449 11.0513 95.3656 10.5305 94.6332 10.379C93.9975 10.2476 93.3787 10.4797 92.8142 10.7403C92.2454 11.0029 91.7325 11.3742 91.2506 11.7712C90.0679 12.7455 89.012 13.8569 88.0206 15.0227C88.1512 14.7741 88.2827 14.5255 88.407 14.2738C88.6767 13.7279 88.8366 13.0605 88.6835 12.4516C88.577 12.0279 88.3845 11.614 87.9565 11.4523C87.279 11.1964 86.689 11.8841 86.2754 12.3305C85.7743 12.8716 85.2625 13.3993 84.7819 13.9596C84.1618 14.6823 83.5654 15.4251 82.9757 16.1727C82.2921 17.0392 81.6185 17.9134 80.9445 18.7873C81.3946 17.8347 81.8015 16.8487 81.9863 15.8177C82.1232 15.0539 82.1098 14.0986 81.6066 13.4578C81.2351 12.9847 80.6963 12.8716 80.1285 12.9881C79.8233 13.0508 79.5352 13.1921 79.254 13.3196C78.973 13.4472 78.7024 13.5957 78.4377 13.754C77.9856 14.0242 77.5486 14.3199 77.1198 14.6267C77.0652 14.4862 76.9905 14.3563 76.8877 14.2484C76.6691 14.0196 76.3442 13.8183 76.0111 13.9297C73.5282 14.7596 71.2002 16.032 69.1837 17.7028C68.1142 18.5889 67.112 19.5397 66.2164 20.6032C65.2208 21.7856 64.2858 23.0529 63.6789 24.4822C63.4283 25.0722 63.2586 25.7238 63.1934 26.3757C62.1665 27.1626 61.1354 27.9441 60.1012 28.7216C61.5354 26.5242 62.9479 24.3126 64.3175 22.0745C64.7312 21.3985 65.1467 20.722 65.5271 20.0263C65.7295 19.6561 65.9387 19.2761 66.0769 18.8775C66.3101 18.205 66.3562 17.2904 65.8535 16.7139C65.605 16.4289 65.3005 16.3285 64.9416 16.3797C64.6604 16.4198 64.4426 16.6241 64.2393 16.7982C63.9026 17.0864 63.6224 17.4497 63.3407 17.7899C63.1275 18.0476 62.9182 18.3083 62.7098 18.5699C62.5695 18.1916 62.386 17.8383 62.1474 17.4977C61.9003 17.145 61.5464 16.8149 61.1562 16.6288C59.6932 15.9312 58.118 16.7205 56.9163 17.5898C55.7565 18.4287 54.7155 19.4199 53.7147 20.4432C53.6663 20.4799 53.6187 20.519 53.5735 20.5626C53.3868 20.7433 53.1921 20.9142 52.9911 21.0781C52.6917 21.2924 52.3754 21.4787 52.0378 21.6258C51.7634 21.714 51.4824 21.7711 51.195 21.795C51.0348 21.7906 50.8753 21.7792 50.7178 21.7547C50.7217 21.6322 50.7238 21.5095 50.7227 21.3865C50.712 20.1756 50.4034 18.8272 49.6196 17.8741C49.1551 17.3094 48.475 17.0263 47.7518 17.0929C47.3666 17.1283 47.0244 17.3087 46.7386 17.5639C46.5881 17.5733 46.4402 17.6153 46.3078 17.7039C44.1635 19.1411 42.2089 20.8148 40.455 22.6863C40.4149 22.7201 40.3766 22.7561 40.342 22.7964C40.3032 22.8416 40.2641 22.8866 40.2252 22.9318C39.7831 23.4127 39.3552 23.9075 38.9398 24.4136C37.0068 26.6235 35.0184 28.7868 32.8493 30.7684C32.0747 31.4759 31.2767 32.1577 30.451 32.805C29.4792 33.5471 28.4679 34.2379 27.4009 34.8365C27.0535 35.0314 26.7907 35.422 26.6549 35.7854C26.506 36.1837 26.4477 36.7329 26.5699 37.1477C26.6727 37.4967 26.851 37.8987 27.1988 38.0678C27.5281 38.2278 27.8744 38.2299 28.201 38.0466C30.4083 36.8081 32.4095 35.1963 34.2726 33.4921C34.7903 33.0185 35.2973 32.5332 35.7967 32.0407C35.8192 32.1344 35.8439 32.2277 35.8732 32.3195C36.2141 33.3903 36.9418 34.3448 37.9888 34.8084C39.0262 35.2678 40.1746 35.2974 41.266 35.0116C44.2765 34.2231 46.471 31.9385 48.0528 29.3496C47.8624 30.2406 47.7841 31.1479 48.01 32.0525C48.2589 33.05 48.8751 34.0207 49.9557 34.2203C50.7447 34.3661 51.5275 34.0173 52.2126 33.6683C53.2166 33.1567 54.124 32.4422 54.9704 31.6864C54.5676 32.289 54.1631 32.8905 53.7589 33.4921C52.2984 34.6023 50.8454 35.7231 49.4077 36.8632C47.6295 37.3396 45.8562 37.8345 44.0894 38.3524C42.1672 38.9159 40.2522 39.5048 38.3464 40.122C36.5193 40.7136 34.7005 41.3309 32.892 41.977C31.0685 42.6286 29.2558 43.3106 27.4541 44.0202C25.8273 44.661 24.211 45.3285 22.608 46.0265C21.0801 46.6917 19.5644 47.3847 18.0638 48.1093C16.653 48.7907 15.2556 49.5001 13.8758 50.2424C12.5777 50.9407 11.2951 51.6678 10.0328 52.4291C9.43294 52.7909 8.83777 53.1606 8.24792 53.5385C8.25714 53.5259 8.26635 53.5133 8.27557 53.5005C9.97769 51.1521 11.6607 48.7898 13.3393 46.4247C14.6035 44.6432 15.8664 42.861 17.1324 41.0808C17.1916 41.0388 17.2509 40.997 17.3099 40.9548C18.9511 39.7812 20.5578 38.5605 22.1462 37.3166C23.8234 36.0033 25.4744 34.6566 27.103 33.2836C28.834 31.8243 30.5399 30.335 32.22 28.8173C33.9326 27.2702 35.6188 25.6937 37.2735 24.085C38.8958 22.5079 40.4883 20.9 42.0403 19.2536C43.5011 17.7041 44.9268 16.1208 46.2967 14.4903C47.6046 12.9336 48.8711 11.3371 50.0472 9.6781C50.536 8.98836 51.0086 8.28698 51.4569 7.57009C52.0176 6.67328 52.6505 5.72039 52.9324 4.69717C53.1524 3.89881 53.3184 3.01348 53.0467 2.20299C52.9214 1.82927 52.7686 1.46654 52.479 1.18544C52.1857 0.900944 51.93 0.775992 51.5471 0.65492C51.0984 0.512996 50.5762 0.560035 50.1207 0.649586C49.5553 0.760798 49.0026 0.98209 48.4834 1.22682C47.1801 1.84107 46.0044 2.71929 44.8918 3.6245C43.7893 4.52179 42.7418 5.49392 41.7249 6.48674C39.6602 8.50229 37.6594 10.583 35.7172 12.7167C33.8056 14.8169 31.9507 16.9684 30.1435 19.1591C28.279 21.4192 26.4627 23.7194 24.682 26.0461C22.9718 28.2808 21.2961 30.5418 19.6407 32.8174C18.3119 34.644 16.9979 36.4811 15.6878 38.3209C14.3914 39.2295 13.0733 40.1098 11.7112 40.9163C10.7838 41.4654 9.83172 41.9941 8.82968 42.3965C8.50429 42.515 8.16662 42.6176 7.82312 42.6545C7.79257 42.6522 7.76234 42.6486 7.73212 42.6441C7.61767 42.6003 7.49854 42.5854 7.37423 42.6032C7.19448 42.5883 7.02637 42.6323 6.87006 42.7353C6.5332 42.9229 6.2432 43.3251 6.12246 43.684C5.97843 44.1125 5.90731 44.605 6.03775 45.0463C6.13409 45.3724 6.31982 45.839 6.66865 45.9667C6.87394 46.0419 7.06452 46.1253 7.28145 46.1403C7.51907 46.157 7.76428 46.1465 8.00109 46.1161C8.34523 46.072 8.68145 45.9675 9.00668 45.8495C9.67347 45.6077 10.3171 45.3172 10.9461 44.9962C10.5468 45.5584 10.1482 46.1211 9.74815 46.6826C8.07092 49.0364 6.38416 51.3833 4.67428 53.7134C3.80819 54.8936 2.93611 56.0694 2.0566 57.2395C1.52479 57.947 0.852833 58.6623 0.745177 59.5809C0.67858 60.1491 0.744531 60.7955 1.14961 61.2383C1.41277 61.5258 1.8025 61.6586 2.1864 61.5836C2.59456 61.5039 2.93482 61.2129 3.24291 60.9585C3.69875 60.5822 4.15782 60.2104 4.62368 59.8465C5.81097 58.9355 7.03365 58.071 8.28332 57.2478C9.69982 56.3147 11.1496 55.4325 12.6228 54.5919C14.206 53.6887 15.8163 52.8334 17.4465 52.0182C19.201 51.1408 20.9784 50.3095 22.7728 49.5173C24.6777 48.6762 26.6019 47.8791 28.5408 47.1196C28.718 47.0502 28.8953 46.9815 29.0726 46.9128C31.3919 46.0201 33.7306 45.1785 36.0849 44.3829C38.3924 43.6032 40.7153 42.8688 43.0488 42.1708C41.9124 43.1801 40.7967 44.2126 39.7098 45.275C38.2083 46.7428 36.7095 48.243 35.4453 49.9233C34.017 51.8218 32.8755 53.9436 32.3799 56.2835C32.134 57.4445 32.1287 58.7688 32.6594 59.8565C32.9073 60.3649 33.2778 60.8646 33.7972 61.117C34.1772 61.3018 34.5799 61.4198 35.0023 61.413C35.4508 61.4059 35.8658 61.3527 36.2857 61.1912C36.7335 61.0191 37.1615 60.8185 37.5651 60.5592C38.3262 60.0701 39.0233 59.46 39.6563 58.8152C41.1115 57.3326 42.2254 55.5628 43.3478 53.8272C45.6954 50.1971 48.1047 46.6076 50.5229 43.0245C51.3277 41.832 52.1335 40.6402 52.939 39.4481C55.4364 38.8162 57.9429 38.2194 60.4574 37.6591C63.474 36.987 66.5017 36.3642 69.5378 35.7867C71.7231 35.3709 73.9132 34.9802 76.1068 34.6104C75.6664 35.7844 75.3221 37.0022 75.2686 38.2546C75.2547 38.5802 75.2841 38.915 75.3496 39.2329C75.451 39.7253 75.783 40.2694 76.345 40.243C76.9009 40.217 77.3357 39.6414 77.483 39.1443C77.986 37.4472 78.5499 35.7695 79.1612 34.1091C93.7363 31.7913 108.46 29.4663 123.206 28.8871C124.044 28.8542 124.555 28.3196 124.517 27.8308C124.462 27.1155 124.083 26.6422 123.15 26.6422C108.972 27.1998 94.8707 28.7527 80.7607 30.3716C80.9416 30.0407 81.1242 29.7107 81.3095 29.3823C82.1128 27.9577 82.9581 26.5566 83.8376 25.1776C83.9543 25.5452 84.1051 25.9005 84.3051 26.2325C84.5467 26.6338 84.8613 27.0232 85.3008 27.2175C85.7684 27.4243 86.2307 27.472 86.7347 27.3519C87.7468 27.1109 88.6032 26.3754 89.3495 25.6935C90.1928 24.9231 90.9395 24.0475 91.6478 23.1536C92.3763 22.234 93.0703 21.2855 93.737 20.318C94.4661 19.4516 95.2449 18.6281 96.0671 17.8404C96.9951 16.9515 97.9434 16.0855 98.8592 15.186C98.824 15.686 98.8114 16.1846 98.8174 16.6781C97.4473 17.7752 96.1097 18.9197 94.8707 20.1616C94.0448 20.9892 93.2013 21.9038 92.6679 22.955C92.337 23.6069 92.1309 24.2869 92.1106 25.0211C92.0954 25.5713 92.2244 26.1827 92.5719 26.6245C93.0549 27.2387 93.8133 27.2723 94.5247 27.1991C95.183 27.1314 95.8268 26.908 96.4291 26.6422C97.2339 26.2869 98.01 25.8639 98.7073 25.325C99.4958 24.7156 100.179 24.0032 100.694 23.1473C101.332 22.0848 101.581 20.803 101.394 19.5805C101.336 19.2009 101.271 18.8233 101.212 18.4447C102.073 17.7915 102.945 17.1529 103.822 16.5238C103.799 16.5735 103.775 16.6227 103.752 16.6726C103.324 17.62 102.903 18.5865 102.645 19.5966C102.36 20.712 102.127 21.971 102.589 23.0762C102.749 23.4598 103.023 23.8532 103.409 24.0365C103.854 24.2478 104.26 24.248 104.743 24.1641C105.47 24.038 106.165 23.645 106.734 23.1861C107.523 22.5494 108.199 21.7858 108.817 20.9853C109.673 19.875 110.448 18.7006 111.211 17.5245C111.301 17.3853 111.39 17.2452 111.479 17.1057C111.263 17.7085 111.042 18.3098 110.812 18.9077C110.657 19.31 110.499 19.7109 110.337 20.1103C110.261 20.2957 110.185 20.4808 110.107 20.6654C110.067 20.7622 110.026 20.8589 109.985 20.9554C109.929 21.087 109.744 21.5103 109.993 20.9383C109.804 21.3733 109.667 21.78 109.673 22.2634C109.678 22.6066 109.758 23.1077 109.998 23.3819C110.195 23.6077 110.473 23.7902 110.79 23.6874C111.103 23.5863 111.382 23.3253 111.53 23.0324C111.815 22.6593 112.146 22.3132 112.457 21.9665C113.153 21.1895 113.861 20.4226 114.57 19.6571C115.647 18.4939 116.729 17.3352 117.811 16.1772C117.66 16.472 117.504 16.7654 117.343 17.0549C117.119 17.4534 116.859 17.8366 116.669 18.2524C116.296 19.0687 116.082 19.9632 116.258 20.8605C116.368 21.4206 116.661 22.0439 117.186 22.327C117.731 22.6213 118.27 22.5216 118.799 22.2539C119.237 22.0323 119.579 21.6618 119.93 21.3261C120.915 20.3827 121.835 19.3755 122.723 18.3403C122.881 18.9449 123.272 19.5095 123.836 19.7958C124.095 19.9275 124.394 20.0494 124.69 20.0633C125.132 20.0841 125.444 19.9889 125.817 19.7537C126.853 19.1022 127.751 18.2443 128.571 17.3418C129.434 16.3914 130.242 15.3943 131.18 14.5139C131.461 14.2502 131.63 13.6913 131.687 13.3318C131.748 12.944 131.743 12.417 131.57 12.0507ZM28.4484 25.7559C28.6014 25.5607 28.7553 25.3661 28.909 25.1713C31.0041 22.5276 33.1571 19.9291 35.3878 17.3984C37.6786 14.7998 40.0506 12.2722 42.5145 9.83683C43.8429 8.52379 45.2024 7.22481 46.6743 6.07148C47.5847 5.38158 48.561 4.72902 49.62 4.29419C49.8597 4.21095 50.1052 4.14241 50.3551 4.10022C49.961 4.8336 49.5079 5.54144 49.0518 6.23474C48.4894 7.08919 47.8967 7.92344 47.2842 8.7425C46.9666 9.16714 46.6425 9.58709 46.3148 10.0041C44.9538 11.7156 43.5227 13.3709 42.0488 14.9859C40.4141 16.7771 38.7269 18.5204 37.0039 20.2267C35.2258 21.9877 33.4088 23.7094 31.5602 25.3963C29.7384 27.0586 27.886 28.6875 26.0036 30.2809C25.1152 31.0328 24.2204 31.7771 23.3181 32.5124C24.9979 30.2375 26.7032 27.9811 28.4484 25.7559ZM66.7398 24.2708C67.6809 23.0185 68.7571 21.8737 69.9476 20.856C71.3552 19.701 72.9067 18.7305 74.566 17.9816C74.5724 18.0555 74.5828 18.127 74.5975 18.1961C74.4095 18.7234 74.1995 19.2429 73.9701 19.7542C73.4212 20.9045 72.7706 22.0032 72.0238 23.0363C71.1381 24.2054 70.1312 25.2784 69.0117 26.2267C68.4737 26.6684 67.9096 27.0953 67.2816 27.3955C67.0658 27.4746 66.8452 27.5306 66.6166 27.5573C66.4813 27.5499 66.3489 27.5279 66.2173 27.4935C66.1202 27.4459 66.0279 27.3908 65.9401 27.3275C65.8696 27.2539 65.8048 27.176 65.7442 27.0942C65.7039 27.0177 65.6677 26.9395 65.6341 26.86C65.6133 26.7814 65.5948 26.7022 65.5796 26.6224C65.5779 26.5853 65.5769 26.548 65.5764 26.511C65.5887 26.4197 65.6037 26.3288 65.6218 26.2385C65.6695 26.0893 65.7235 25.9425 65.7835 25.7978C66.0549 25.2611 66.3875 24.7581 66.7398 24.2708ZM45.1977 28.635C44.6733 29.2758 44.0919 29.8667 43.4429 30.3816C42.8905 30.7804 42.2978 31.1167 41.6669 31.3755C41.1803 31.5464 40.6789 31.6673 40.1645 31.7058C39.85 31.6996 39.5399 31.6578 39.2377 31.5711C39.0374 31.4848 38.8483 31.3783 38.6701 31.252C38.5837 31.1707 38.503 31.0841 38.4275 30.9928C38.391 30.9299 38.3561 30.866 38.3249 30.8006C38.3152 30.7655 38.3047 30.7302 38.2962 30.6948C38.2938 30.6544 38.2924 30.6135 38.2914 30.573C38.3017 30.4973 38.3139 30.422 38.3286 30.347C38.3903 30.1558 38.4627 29.9687 38.5442 29.7849C39.0088 28.9019 39.6183 28.089 40.2366 27.305C40.3577 27.1538 40.4818 27.0053 40.6055 26.8564C40.9105 26.5057 41.2139 26.1534 41.5172 25.8012C42.7667 24.4198 44.1336 23.1472 45.6034 22.0004C45.7523 21.8876 45.9024 21.7767 46.0533 21.6667C46.1477 21.9284 46.2603 22.1826 46.3898 22.424C46.7165 23.0329 47.1495 23.5789 47.6652 24.0344C47.4361 24.6855 47.163 25.3221 46.8657 25.9438C46.3892 26.8878 45.8401 27.7944 45.1977 28.635ZM53.325 29.2405C52.6584 29.7748 51.9472 30.2704 51.1651 30.6177C50.9981 30.6796 50.8287 30.7281 50.6522 30.7534C50.5922 30.7487 50.5328 30.7403 50.4738 30.728C50.4468 30.7134 50.4198 30.6986 50.3939 30.6822C50.3879 30.6753 50.3823 30.6678 50.3763 30.6609C50.3703 30.6488 50.3635 30.6371 50.3579 30.625C50.3496 30.592 50.3406 30.5592 50.3336 30.5259C50.3292 30.4509 50.3272 30.3758 50.3273 30.3006C50.3478 30.1506 50.3766 30.0019 50.4094 29.854C50.5491 29.3522 50.7266 28.8636 50.9385 28.388C51.2944 27.6769 51.721 27.0058 52.1888 26.3632C52.8475 25.5009 53.5647 24.6954 54.3101 23.9096C54.5441 23.7205 54.7706 23.5219 54.9866 23.3128C55.1109 23.1926 55.2159 23.0445 55.3027 22.8842C55.9092 22.2741 56.5342 21.6822 57.1956 21.1324C57.7326 20.7065 58.3017 20.3096 58.9252 20.0234C59.1638 19.9358 59.4093 19.8716 59.662 19.8443C59.7745 19.8509 59.8857 19.8669 59.995 19.8939C60.0756 19.9335 60.1527 19.9789 60.2264 20.0302C60.2867 20.0922 60.343 20.1577 60.3955 20.2264C60.4342 20.299 60.4689 20.3733 60.5014 20.4487C60.5344 20.567 60.5617 20.6866 60.5834 20.8075C60.5897 20.9066 60.5926 21.0058 60.5922 21.1051C60.5876 21.146 60.5842 21.1871 60.5785 21.2276C58.767 23.4989 56.9462 25.7757 54.8784 27.82C54.3793 28.3135 53.8638 28.7903 53.325 29.2405ZM42.6943 49.9986C41.8867 51.2333 41.1153 52.4964 40.2769 53.7102C40.0892 53.9819 39.8965 54.2497 39.7001 54.5151C39.0327 55.3829 38.303 56.2008 37.4657 56.9083C37.0535 57.2306 36.6158 57.5226 36.1415 57.7442C35.8958 57.8347 35.643 57.8998 35.3829 57.9271C35.2541 57.9202 35.1272 57.9024 35.0023 57.8714C34.9405 57.8426 34.8799 57.8108 34.8214 57.7758C34.8049 57.7563 34.7892 57.7361 34.7734 57.716C34.7515 57.674 34.731 57.6312 34.7118 57.5879C34.7019 57.5481 34.6935 57.508 34.6854 57.4679C34.6814 57.3894 34.6798 57.3106 34.6804 57.2321C34.7042 57.0292 34.738 56.8281 34.781 56.6285C34.9424 56.0467 35.151 55.4752 35.3981 54.9243C35.843 54.0244 36.3785 53.1732 36.9708 52.3628C38.1724 50.7938 39.601 49.3857 41.0114 48.0068C42.4777 46.5735 43.996 45.1939 45.5475 43.8534C46.3854 43.1294 47.2342 42.4178 48.0895 41.7143C48.1799 41.6403 48.2713 41.5676 48.3619 41.4938C47.2994 43.0692 46.2387 44.6459 45.1852 46.2275C44.35 47.4813 43.519 48.7378 42.6943 49.9986ZM62.9679 33.6161C60.8732 34.0621 58.7833 34.5318 56.6992 35.0256C58.191 33.9041 59.6849 32.7859 61.1761 31.6637C62.0816 30.9824 62.9839 30.2969 63.8837 29.6079C64.3175 30.2708 64.8723 30.7643 65.6642 30.9803C66.4813 31.2031 67.3419 30.9184 68.0695 30.556C68.657 30.2632 69.1833 29.8553 69.692 29.4442C70.2504 28.993 70.7941 28.5236 71.308 28.0222C72.2877 27.0659 73.1512 26.0047 73.9388 24.8861C75.3336 22.9053 76.4119 20.6585 77.0897 18.3266C77.5043 18.0153 77.9245 17.7112 78.3544 17.4217C78.6215 17.2418 78.8932 17.0658 79.1717 16.9018C78.6391 18.0545 78.0436 19.1783 77.4453 20.2978C76.7301 21.6364 76.0017 22.9681 75.3044 24.316C74.9397 25.0211 74.5833 25.7307 74.248 26.4504C74.0826 26.8055 73.9656 27.1433 73.9378 27.5397C73.9139 27.8816 73.9318 28.2763 74.0906 28.5891C74.1943 28.7936 74.3279 28.9838 74.5188 29.1161C74.7881 29.3026 75.1592 29.2379 75.4183 29.0786C75.843 28.817 76.2217 28.4745 76.5875 28.1392C76.9682 27.7904 77.326 27.4168 77.6741 27.0357C78.546 26.081 79.3602 25.0741 80.1629 24.0613C80.7191 23.3594 81.2671 22.6509 81.8136 21.9414C80.5884 24.4922 79.4166 27.0716 78.3478 29.6923C78.1496 30.0751 77.9555 30.46 77.7656 30.8469C77.4339 30.9009 77.1022 30.9543 76.7706 31.0092C74.4271 31.3983 72.0876 31.8129 69.7533 32.2541C67.4864 32.6826 65.2243 33.1357 62.9679 33.6161ZM88.7539 22.38C88.5146 22.6262 88.2663 22.8635 88.0095 23.0914C87.6817 23.3626 87.3336 23.6145 86.9541 23.8062C86.8101 23.8611 86.6619 23.903 86.5096 23.926C86.4473 23.9216 86.3856 23.913 86.3247 23.8995C86.2914 23.8812 86.259 23.8615 86.2277 23.8403C86.1837 23.7911 86.1422 23.7402 86.1039 23.6864C86.0573 23.5922 86.0162 23.4952 85.979 23.3967C85.8911 23.0775 85.831 22.7513 85.7878 22.423C85.7831 22.3714 85.7783 22.3199 85.7743 22.2683C85.981 21.9704 86.1877 21.6725 86.3984 21.3775C87.0928 20.416 87.8081 19.4694 88.5562 18.549C89.2572 17.6866 89.9853 16.8441 90.7628 16.0495C91.1131 15.6913 91.4753 15.3447 91.8516 15.0138C92.3157 14.6241 92.811 14.2577 93.3551 13.9911C93.5332 13.9214 93.7176 13.8686 93.9068 13.8426C93.969 13.8466 94.0306 13.8552 94.0914 13.8681C94.1226 13.8851 94.1534 13.9027 94.183 13.9226C94.204 13.9471 94.2247 13.9717 94.2441 13.9976C94.2666 14.0448 94.2874 14.0925 94.3068 14.141C94.3261 14.2174 94.343 14.2944 94.3571 14.3719C94.359 14.4196 94.3599 14.4675 94.3599 14.5152C94.354 14.5562 94.3471 14.5973 94.34 14.6382C94.3186 14.704 94.2946 14.7691 94.2698 14.8336C94.0173 15.3179 93.6915 15.7768 93.399 16.2325C93.0261 16.8134 92.6453 17.3894 92.2557 17.9592C92.0294 18.2901 91.7991 18.6182 91.5661 18.9446C90.6988 20.1431 89.7856 21.3186 88.7539 22.38ZM99.3232 20.7409C99.316 20.7561 99.3088 20.7713 99.3017 20.7863C99.3038 20.7773 99.306 20.7684 99.3081 20.7598C99.4247 20.482 99.3752 20.6313 99.3232 20.7409ZM99.2516 20.8823C99.2079 20.9669 99.1612 21.0497 99.1114 21.1306C98.9326 21.3705 98.7333 21.5942 98.5193 21.8034C98.0297 22.2368 97.4883 22.6113 96.9172 22.9286C96.7698 23.0106 96.6193 23.0867 96.4679 23.1611C96.0854 23.3345 95.6899 23.4861 95.2841 23.5964C95.5623 23.2899 95.8523 22.9941 96.1454 22.7052C96.3628 22.491 96.5854 22.282 96.8089 22.0743C97.5598 21.3893 98.3332 20.7288 99.1219 20.0859C99.1657 20.3512 99.2107 20.6164 99.2516 20.8823ZM124.672 17.8956C124.659 17.9309 124.647 17.9666 124.632 18.0015C124.505 18.2892 124.577 18.1177 124.672 17.8956Z"
          fill="black"></path>
        <path
          d="M134.814 7.36559C134.908 7.27027 135.013 7.14847 135.142 7.0055C135.272 6.86252 135.401 6.71425 135.542 6.55538C135.677 6.39652 135.806 6.24295 135.924 6.09998C136.041 5.957 136.141 5.82991 136.223 5.724C136.305 5.62338 136.346 5.55454 136.358 5.51748C136.37 5.48041 136.376 5.44864 136.376 5.42216C136.376 5.32154 136.299 5.26859 136.147 5.26859C135.935 5.26859 135.665 5.32684 135.342 5.44334L135.348 5.491C135.348 5.51748 135.33 5.58102 135.289 5.68693C135.254 5.79813 135.207 5.93582 135.148 6.09998C135.002 6.5395 134.89 6.96313 134.814 7.36559ZM134.344 9.06013C134.614 9.06013 134.884 8.97011 135.154 8.79006C135.424 8.61002 135.683 8.36113 135.929 8.04341C135.402 8.22762 135.021 8.64906 134.696 8.79536L134.614 8.80595C134.397 8.80595 134.244 8.67356 134.162 8.41409C134.097 8.22875 134.062 8.00104 134.062 7.73097C134.062 7.2332 134.127 6.73543 134.262 6.24295C134.332 5.94111 134.414 5.68693 134.514 5.47511C134.614 5.26859 134.702 5.14679 134.79 5.10973L134.784 5.06736C134.784 5.03559 134.802 5.00911 134.843 4.98264C134.896 4.94557 135.031 4.9032 135.236 4.85554C135.43 4.82907 135.601 4.81848 135.747 4.81848C135.976 4.81848 136.188 4.84495 136.376 4.89261C136.587 4.95616 136.74 5.06207 136.845 5.21034C136.904 5.30566 136.934 5.40627 136.934 5.50159C136.934 5.81402 136.693 6.25354 136.211 6.81486C136.017 7.03197 135.794 7.27556 135.536 7.54563L135.941 7.43443C136.088 7.39736 136.235 7.38147 136.376 7.38147C136.517 7.14318 136.64 6.89959 136.757 6.656C136.975 6.17941 137.133 5.75048 137.221 5.3745C137.251 5.22093 137.268 5.08325 137.268 4.97204C137.245 4.69139 137.145 4.50075 136.969 4.38954C136.857 4.326 136.716 4.29423 136.546 4.29423C136.352 4.29423 136.141 4.33659 135.9 4.42132C135.612 4.52193 135.325 4.65961 135.031 4.84495C134.737 5.03029 134.485 5.22623 134.279 5.43804C134.044 5.67104 133.88 5.88286 133.798 6.0735C133.557 6.77779 133.422 7.38147 133.404 7.87395C133.404 8.06459 133.416 8.22345 133.445 8.35584C133.504 8.64179 133.645 8.84302 133.88 8.95952C134.009 9.02836 134.162 9.06013 134.344 9.06013ZM134.696 9.66381C134.467 9.66381 134.25 9.63204 134.038 9.57379C133.704 9.48377 133.416 9.3249 133.163 9.0972C132.899 8.8589 132.711 8.55177 132.6 8.17579C132.517 7.9322 132.482 7.66743 132.482 7.38677C132.482 7.20672 132.494 7.01079 132.529 6.80957C132.494 6.79897 132.459 6.78838 132.429 6.7725C132.341 6.72484 132.294 6.63481 132.294 6.51302C132.294 6.31179 132.406 6.04702 132.629 5.71341C132.799 5.45923 133.017 5.20504 133.287 4.94557C133.551 4.68609 133.851 4.45839 134.185 4.25186C134.743 3.91295 135.301 3.7435 135.859 3.7435C136.1 3.7435 136.323 3.75939 136.54 3.80175C137.163 3.91825 137.603 4.13007 137.856 4.4425C137.973 4.58548 138.032 4.76023 138.032 4.96675V5.06736C137.95 5.88286 137.75 6.656 137.439 7.39206C137.257 7.82629 137.033 8.20756 136.769 8.54647C136.188 9.29313 135.495 9.66381 134.696 9.66381Z"
          fill="black"></path>
        <path
          d="M129.326 26.3712C128.483 26.2976 127.62 26.304 126.788 26.4136C126.468 26.4558 126.194 26.6188 126.012 26.8139C125.808 27.0344 125.673 27.3648 125.694 27.637C125.713 27.8883 125.787 28.1764 126.033 28.366C126.247 28.5316 126.529 28.6474 126.846 28.6057C127.307 28.545 127.774 28.5173 128.243 28.5193C128.424 28.526 128.604 28.5359 128.784 28.5516C129.11 28.5801 129.39 28.514 129.635 28.3514C129.893 28.1793 130.094 27.8862 130.145 27.6297C130.199 27.3619 130.199 27.0566 130.017 26.8095C129.874 26.614 129.645 26.3989 129.326 26.3712Z"
          fill="black"></path>
      </svg>
    </div>

    <div class="flex items-center justify-center">
      <svg
        width="422"
        height="116"
        viewBox="0 0 422 116"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.3008 7.52161V0.521606H0.300781V65.0216C0.300781 92.912 22.9104 115.522 50.8008 115.522C78.6912 115.522 101.301 92.912 101.301 65.0216V0.521606H85.3008V7.52161H58.3008V0.521606H42.3008V7.52161H16.3008ZM42.3007 98.4666C27.4982 94.7161 16.5096 81.3966 16.3037 65.4769C18.009 65.8899 19.6836 66.4352 21.312 67.1097C25.4371 68.8184 29.1852 71.3228 32.3424 74.48C35.4996 77.6372 38.004 81.3853 39.7127 85.5104C41.4143 89.6185 42.2935 94.0204 42.3007 98.4666ZM43.6561 63.1663C46.1616 65.6717 48.3875 68.4302 50.3008 71.3923C52.2141 68.4302 54.44 65.6717 56.9454 63.1663C59.4509 60.6608 62.2094 58.4349 65.1715 56.5216C62.2094 54.6083 59.4509 52.3824 56.9454 49.8769C54.44 47.3715 52.2141 44.613 50.3008 41.6509C48.3875 44.613 46.1616 47.3715 43.6561 49.8769C41.1507 52.3824 38.3922 54.6083 35.4301 56.5216C38.3922 58.4349 41.1507 60.6608 43.6561 63.1663ZM85.3 65.2502C85.1938 81.6271 73.6769 95.2955 58.3008 98.7041V98.5216C58.3008 94.0567 59.1802 89.6354 60.8889 85.5104C62.5975 81.3853 65.102 77.6372 68.2591 74.48C71.4163 71.3228 75.1645 68.8184 79.2895 67.1097C81.2359 66.3035 83.2483 65.6819 85.3 65.2502ZM41.088 23.5216C40.7142 24.8832 40.2553 26.2229 39.7127 27.5328C38.004 31.6579 35.4996 35.406 32.3424 38.5632C29.1852 41.7204 25.4371 44.2248 21.312 45.9335C19.6826 46.6084 18.007 47.154 16.3008 47.567V23.5216H41.088ZM85.3008 47.7932V23.5216H59.5136C59.8873 24.8832 60.3463 26.2229 60.8889 27.5328C62.5975 31.6579 65.102 35.406 68.2591 38.5632C71.4163 41.7204 75.1645 44.2248 79.2895 45.9335C81.2362 46.7398 83.2488 47.3615 85.3008 47.7932Z"
          fill="#09C382"></path>
        <path
          d="M128.082 9.83881V52.5217H155.009V44.7872H136.962V9.83881H128.082Z"
          fill="#124835"></path>
        <path d="M263.696 21.24V52.5217H272.29V21.24H263.696Z" fill="#124835"
        ></path>
        <path
          d="M263.696 9.83881V18.4327H272.29V9.83881H263.696Z"
          fill="#124835"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M276.86 63.9801V21.24H284.881V24.4852C285.807 23.3946 286.953 22.5229 288.318 21.8702C290.113 20.9917 292.157 20.5525 294.448 20.5525C297.428 20.5525 300.12 21.2782 302.527 22.7296C304.933 24.181 306.843 26.148 308.256 28.6307C309.669 31.0752 310.376 33.8252 310.376 36.8808C310.376 39.8982 309.669 42.6483 308.256 45.1309C306.881 47.6136 304.99 49.5806 302.584 51.0321C300.178 52.4835 297.447 53.2092 294.391 53.2092C292.252 53.2092 290.266 52.8272 288.433 52.0633C287.304 51.5588 286.311 50.9109 285.454 50.1193V63.9801H276.86ZM293.36 45.4747C294.964 45.4747 296.377 45.1118 297.6 44.3861C298.822 43.6604 299.777 42.6483 300.464 41.3496C301.152 40.051 301.495 38.5614 301.495 36.8808C301.495 35.2002 301.152 33.7297 300.464 32.4693C299.777 31.1707 298.822 30.1585 297.6 29.4328C296.377 28.6689 294.964 28.287 293.36 28.287C291.832 28.287 290.457 28.6498 289.235 29.3755C288.051 30.1012 287.115 31.1134 286.428 32.412C285.778 33.7106 285.454 35.2002 285.454 36.8808C285.454 38.5614 285.778 40.051 286.428 41.3496C287.115 42.6483 288.051 43.6604 289.235 44.3861C290.457 45.1118 291.832 45.4747 293.36 45.4747Z"
          fill="#124835"></path>
        <path
          d="M316.956 50.8029C319.515 52.4071 322.513 53.2092 325.951 53.2092C328.395 53.2092 330.515 52.8081 332.31 52.006C334.105 51.1657 335.499 50.0199 336.493 48.5685C337.524 47.1171 338.039 45.4174 338.039 43.4695C338.039 41.216 337.352 39.3253 335.977 37.7975C334.602 36.2315 332.616 35.0666 330.019 34.3027L325.034 32.8131C324.27 32.5839 323.621 32.3356 323.086 32.0683C322.59 31.8009 322.227 31.4953 321.998 31.1516C321.768 30.8078 321.654 30.4259 321.654 30.0057C321.654 29.2036 321.959 28.5734 322.57 28.1151C323.22 27.6567 324.098 27.4276 325.206 27.4276C326.734 27.4276 328.09 27.8286 329.274 28.6307C330.496 29.3946 331.336 30.4259 331.795 31.7245L338.154 28.7453C337.199 26.148 335.557 24.1428 333.227 22.7296C330.935 21.2782 328.262 20.5525 325.206 20.5525C322.876 20.5525 320.814 20.9726 319.018 21.8129C317.223 22.615 315.829 23.7418 314.836 25.1932C313.843 26.6446 313.346 28.3443 313.346 30.2922C313.346 32.5075 314.034 34.4363 315.409 36.0787C316.784 37.6829 318.751 38.8479 321.31 39.5736L326.638 41.0632C327.326 41.2541 327.899 41.4833 328.357 41.7507C328.815 42.018 329.159 42.3236 329.388 42.6674C329.617 42.9729 329.732 43.3549 329.732 43.8132C329.732 44.6917 329.407 45.3792 328.758 45.8757C328.109 46.3723 327.173 46.6205 325.951 46.6205C324.27 46.6205 322.742 46.1431 321.367 45.1882C319.992 44.2334 318.904 42.9156 318.102 41.235L311.8 44.2142C312.716 46.9643 314.435 49.1605 316.956 50.8029Z"
          fill="#124835"></path>
        <path
          d="M374.035 52.5217V21.24H382.056V25.0189C382.643 23.8755 383.464 22.9597 384.52 22.2713C386.277 21.1254 388.377 20.5525 390.822 20.5525C393.419 20.5525 395.692 21.2209 397.64 22.5577C398.798 23.3152 399.703 24.2287 400.355 25.2981C401.183 24.088 402.169 23.1172 403.312 22.3858C405.221 21.1636 407.456 20.5525 410.015 20.5525C412.268 20.5525 414.254 21.049 415.973 22.0421C417.73 23.0352 419.105 24.4293 420.098 26.2244C421.091 27.9814 421.588 30.0439 421.588 32.412V52.5217H412.994V34.2454C412.994 33.0231 412.765 31.9728 412.307 31.0943C411.886 30.2158 411.275 29.5283 410.473 29.0318C409.671 28.5352 408.697 28.287 407.551 28.287C406.444 28.287 405.47 28.5352 404.629 29.0318C403.827 29.5283 403.197 30.2158 402.739 31.0943C402.319 31.9728 402.108 33.0231 402.108 34.2454V52.5217H393.515V34.2454C393.515 33.0231 393.285 31.9728 392.827 31.0943C392.407 30.2158 391.796 29.5283 390.994 29.0318C390.192 28.5352 389.218 28.287 388.072 28.287C386.964 28.287 385.99 28.5352 385.15 29.0318C384.348 29.5283 383.718 30.2158 383.259 31.0943C382.839 31.9728 382.629 33.0231 382.629 34.2454V52.5217H374.035Z"
          fill="#124835"></path>
        <path
          d="M352.686 53.2092C350.165 53.2092 348.007 52.6744 346.212 51.605C344.455 50.4973 343.118 48.9695 342.202 47.0216C341.285 45.0736 340.827 42.801 340.827 40.2038V21.24H349.421V39.5163C349.421 40.7003 349.65 41.7507 350.108 42.6674C350.605 43.5458 351.292 44.2333 352.171 44.7299C353.049 45.2264 354.042 45.4747 355.15 45.4747C356.296 45.4747 357.289 45.2264 358.129 44.7299C359.007 44.2333 359.676 43.5458 360.134 42.6674C360.631 41.7507 360.879 40.7003 360.879 39.5163V21.24H369.473V52.5217H361.452V48.7149C360.723 50.0884 359.691 51.1472 358.358 51.8914C356.754 52.7699 354.863 53.2092 352.686 53.2092Z"
          fill="#124835"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M243.622 53.2092C240.529 53.2092 237.702 52.5026 235.143 51.0893C232.622 49.6761 230.598 47.7473 229.07 45.3028C227.581 42.8201 226.836 40.0128 226.836 36.8808C226.836 33.7106 227.581 30.9033 229.07 28.4588C230.598 26.0144 232.622 24.0855 235.143 22.6723C237.702 21.2591 240.529 20.5525 243.622 20.5525C246.716 20.5525 249.524 21.2591 252.044 22.6723C254.565 24.0855 256.571 26.0144 258.06 28.4588C259.588 30.9033 260.352 33.7106 260.352 36.8808C260.352 40.0128 259.588 42.8201 258.06 45.3028C256.571 47.7473 254.565 49.6761 252.044 51.0893C249.524 52.5026 246.716 53.2092 243.622 53.2092ZM243.622 45.4747C245.188 45.4747 246.544 45.1118 247.69 44.3861C248.874 43.6604 249.791 42.6483 250.44 41.3496C251.128 40.051 251.472 38.5614 251.472 36.8808C251.472 35.2002 251.128 33.7297 250.44 32.4693C249.791 31.1707 248.874 30.1585 247.69 29.4328C246.544 28.6689 245.188 28.287 243.622 28.287C242.056 28.287 240.681 28.6689 239.497 29.4328C238.313 30.1585 237.378 31.1707 236.69 32.4693C236.041 33.7297 235.716 35.2002 235.716 36.8808C235.716 38.5614 236.041 40.051 236.69 41.3496C237.378 42.6483 238.313 43.6604 239.497 44.3861C240.681 45.1118 242.056 45.4747 243.622 45.4747Z"
          fill="#124835"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M201.316 63.9228C203.378 64.7249 205.613 65.126 208.019 65.126C211.036 65.126 213.691 64.5149 215.982 63.2926C218.312 62.0704 220.146 60.3707 221.483 58.1936C222.819 56.0547 223.488 53.6102 223.488 50.8602V21.24H215.467V24.5256C214.523 23.4182 213.453 22.5522 212.258 21.9275C210.578 21.0108 208.611 20.5525 206.357 20.5525C203.493 20.5525 200.934 21.2018 198.68 22.5004C196.427 23.7991 194.651 25.5942 193.352 27.8859C192.053 30.1394 191.404 32.7367 191.404 35.6777C191.404 38.6187 192.053 41.2541 193.352 43.584C194.651 45.8757 196.446 47.69 198.737 49.0268C201.029 50.3254 203.626 50.9748 206.529 50.9748C208.783 50.9748 210.75 50.5546 212.43 49.7143C213.341 49.2381 214.162 48.6329 214.894 47.8986V50.8602C214.894 52.197 214.607 53.3619 214.035 54.355C213.5 55.3481 212.717 56.0929 211.686 56.5894C210.654 57.1241 209.432 57.3915 208.019 57.3915C206.224 57.3915 204.677 56.9714 203.378 56.1311C202.079 55.2908 201.22 54.1449 200.8 52.6935L192.836 55.5009C193.486 57.4488 194.536 59.1294 195.987 60.5426C197.477 61.994 199.253 63.1207 201.316 63.9228ZM211.514 42.2663C210.444 42.8774 209.184 43.183 207.732 43.183C206.281 43.183 204.982 42.8774 203.836 42.2663C202.729 41.617 201.85 40.7385 201.201 39.6309C200.59 38.5232 200.284 37.2437 200.284 35.7923C200.284 34.3027 200.59 33.004 201.201 31.8964C201.85 30.7505 202.729 29.8721 203.836 29.2609C204.982 28.6116 206.281 28.287 207.732 28.287C209.146 28.287 210.387 28.6116 211.456 29.2609C212.526 29.8721 213.366 30.7505 213.977 31.8964C214.588 33.004 214.894 34.3027 214.894 35.7923C214.894 37.2819 214.588 38.5805 213.977 39.6882C213.404 40.7958 212.583 41.6552 211.514 42.2663Z"
          fill="#124835"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M172.591 53.2092C169.497 53.2092 166.671 52.5026 164.112 51.0893C161.591 49.6761 159.567 47.7473 158.039 45.3028C156.549 42.8201 155.804 40.0128 155.804 36.8808C155.804 33.7106 156.549 30.9033 158.039 28.4588C159.567 26.0144 161.591 24.0855 164.112 22.6723C166.671 21.2591 169.497 20.5525 172.591 20.5525C175.685 20.5525 178.492 21.2591 181.013 22.6723C183.534 24.0855 185.539 26.0144 187.029 28.4588C188.557 30.9033 189.32 33.7106 189.32 36.8808C189.32 40.0128 188.557 42.8201 187.029 45.3028C185.539 47.7473 183.534 49.6761 181.013 51.0893C178.492 52.5026 175.685 53.2092 172.591 53.2092ZM172.591 45.4747C174.157 45.4747 175.513 45.1118 176.659 44.3861C177.843 43.6604 178.76 42.6483 179.409 41.3496C180.096 40.051 180.44 38.5614 180.44 36.8808C180.44 35.2002 180.096 33.7297 179.409 32.4693C178.76 31.1707 177.843 30.1585 176.659 29.4328C175.513 28.6689 174.157 28.287 172.591 28.287C171.025 28.287 169.65 28.6689 168.466 29.4328C167.282 30.1585 166.346 31.1707 165.659 32.4693C165.009 33.7297 164.685 35.2002 164.685 36.8808C164.685 38.5614 165.009 40.051 165.659 41.3496C166.346 42.6483 167.282 43.6604 168.466 44.3861C169.65 45.1118 171.025 45.4747 172.591 45.4747Z"
          fill="#124835"></path>
        <path
          d="M134.429 102.514C136.349 103.57 138.573 104.098 141.101 104.098C143.661 104.098 145.885 103.57 147.773 102.514C149.693 101.458 151.181 100.018 152.237 98.1936C153.293 96.3376 153.821 94.2256 153.821 91.8576V67.7616H149.981V91.8576C149.981 93.5856 149.597 95.1056 148.829 96.4176C148.093 97.6976 147.053 98.7056 145.709 99.4416C144.397 100.146 142.861 100.498 141.101 100.498C139.341 100.498 137.789 100.146 136.445 99.4416C135.133 98.7056 134.093 97.6976 133.325 96.4176C132.589 95.1056 132.221 93.5856 132.221 91.8576V67.7616H128.381V91.8576C128.381 94.2256 128.909 96.3376 129.965 98.1936C131.021 100.018 132.509 101.458 134.429 102.514Z"
          fill="#124835"></path>
        <path
          d="M186.242 77.7936V103.522H189.842V77.7936H186.242Z"
          fill="#124835"></path>
        <path
          d="M186.242 67.7616V73.0416H189.842V67.7616H186.242Z"
          fill="#124835"></path>
        <path
          d="M284.511 103.522V77.7936H288.111V103.522H284.511Z"
          fill="#124835"></path>
        <path
          d="M284.511 73.0416V67.7616H288.111V73.0416H284.511Z"
          fill="#124835"></path>
        <path
          d="M298.551 101.794C299.799 103.138 301.575 103.81 303.879 103.81C304.167 103.81 304.551 103.778 305.031 103.714C305.511 103.682 305.943 103.618 306.327 103.522V100.306C306.071 100.338 305.767 100.37 305.415 100.402C305.063 100.434 304.759 100.45 304.503 100.45C303.447 100.45 302.599 100.258 301.959 99.8736C301.351 99.4896 300.919 98.9776 300.663 98.3376C300.407 97.6656 300.279 96.8976 300.279 96.0336V81.3936H305.943V77.7936H300.279V71.8416H296.679V74.0016C296.679 75.0896 296.359 76.0016 295.719 76.7376C295.079 77.4416 294.215 77.7936 293.127 77.7936H291.927V81.3936H296.679V96.0336C296.679 98.5296 297.303 100.45 298.551 101.794Z"
          fill="#124835"></path>
        <path
          d="M310.153 113.938C310.697 114.034 311.225 114.082 311.737 114.082C313.433 114.082 314.873 113.73 316.057 113.026C317.241 112.354 318.217 111.458 318.985 110.338C319.785 109.218 320.441 108.034 320.953 106.786L332.713 77.7936H328.729L320.351 99.0314L311.929 77.7936H308.041L318.331 103.541L317.401 105.73C316.601 107.586 315.785 108.834 314.953 109.474C314.121 110.146 312.921 110.482 311.353 110.482C310.841 110.482 310.329 110.434 309.817 110.338C309.337 110.274 308.937 110.226 308.617 110.194V113.554C309.129 113.746 309.641 113.874 310.153 113.938Z"
          fill="#124835"></path>
        <path
          d="M263.977 102.226C265.833 103.474 267.993 104.098 270.457 104.098C272.249 104.098 273.833 103.794 275.209 103.186C276.585 102.546 277.657 101.666 278.425 100.546C279.225 99.4256 279.625 98.1616 279.625 96.7536C279.625 95.0256 279.033 93.5216 277.849 92.2416C276.697 90.9616 275.081 90.0176 273.001 89.4096L268.729 88.1616C268.281 88.0336 267.753 87.8416 267.145 87.5856C266.569 87.3296 266.057 86.9456 265.609 86.4336C265.161 85.9216 264.937 85.2336 264.937 84.3696C264.937 83.2496 265.369 82.3216 266.233 81.5856C267.097 80.8496 268.249 80.4816 269.689 80.4816C271.161 80.4816 272.489 80.8976 273.673 81.7296C274.889 82.5296 275.817 83.6496 276.457 85.0896L279.529 83.6496C278.793 81.6336 277.529 80.0656 275.737 78.9456C273.977 77.7936 272.009 77.2176 269.833 77.2176C268.233 77.2176 266.777 77.5216 265.465 78.1296C264.153 78.7376 263.113 79.6016 262.345 80.7216C261.577 81.8416 261.193 83.1536 261.193 84.6576C261.193 86.2576 261.721 87.6656 262.777 88.8816C263.833 90.0976 265.545 91.0416 267.913 91.7136L271.609 92.7696C272.121 92.8976 272.713 93.1056 273.385 93.3936C274.057 93.6816 274.649 94.0976 275.161 94.6416C275.673 95.1536 275.929 95.8576 275.929 96.7536C275.929 97.9696 275.401 98.9616 274.345 99.7296C273.289 100.466 271.993 100.834 270.457 100.834C268.857 100.834 267.385 100.37 266.041 99.4416C264.729 98.5136 263.705 97.2656 262.969 95.6976L259.945 97.1376C260.777 99.2816 262.121 100.978 263.977 102.226Z"
          fill="#124835"></path>
        <path
          d="M246.75 103.522V77.7936H250.35V80.5773C250.924 79.7398 251.676 79.0519 252.606 78.5136C253.854 77.8096 255.358 77.4576 257.118 77.4576H258.75V81.0576H256.494C254.638 81.0576 253.15 81.6336 252.03 82.7856C250.91 83.9376 250.35 85.5696 250.35 87.6816V103.522H246.75Z"
          fill="#124835"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M223.843 102.37C225.795 103.522 227.971 104.098 230.371 104.098C232.131 104.098 233.731 103.81 235.171 103.234C236.643 102.626 237.907 101.842 238.963 100.882C240.019 99.8896 240.803 98.8176 241.315 97.6656L238.243 96.0336C237.443 97.3776 236.403 98.4976 235.123 99.3936C233.843 100.29 232.259 100.738 230.371 100.738C228.739 100.738 227.203 100.322 225.763 99.4896C224.355 98.6576 223.235 97.4896 222.403 95.9856C221.756 94.7447 221.423 93.3367 221.404 91.7616H241.651C241.715 91.3456 241.763 90.9456 241.795 90.5616C241.827 90.1456 241.843 89.7776 241.843 89.4576C241.843 87.9216 241.571 86.4336 241.027 84.9936C240.483 83.5216 239.699 82.2096 238.675 81.0576C237.651 79.8736 236.403 78.9456 234.931 78.2736C233.491 77.5696 231.843 77.2176 229.987 77.2176C227.651 77.2176 225.539 77.7936 223.651 78.9456C221.795 80.0976 220.323 81.6816 219.235 83.6976C218.147 85.6816 217.603 87.9696 217.603 90.5616C217.603 93.1536 218.163 95.4736 219.283 97.5216C220.403 99.5696 221.923 101.186 223.843 102.37ZM237.984 88.4016H221.461C221.58 87.2668 221.878 86.2428 222.355 85.3296C223.123 83.8256 224.179 82.6576 225.523 81.8256C226.899 80.9936 228.387 80.5776 229.987 80.5776C231.587 80.5776 233.027 80.9936 234.307 81.8256C235.587 82.6256 236.563 83.7296 237.235 85.1376C237.741 86.1264 237.99 87.2145 237.984 88.4016Z"
          fill="#124835"></path>
        <path
          d="M202.635 103.522L192.603 77.7936H196.635L204.437 98.628L212.283 77.7936H216.363L206.235 103.522H202.635Z"
          fill="#124835"></path>
        <path
          d="M160.166 103.522V77.7936H163.766V80.9804C164.365 80.0569 165.133 79.2827 166.07 78.6576C167.542 77.6976 169.238 77.2176 171.158 77.2176C172.982 77.2176 174.614 77.6336 176.054 78.4656C177.526 79.2976 178.678 80.4496 179.51 81.9216C180.374 83.3616 180.806 84.9936 180.806 86.8176V103.522H177.206V88.2096C177.206 86.6416 176.918 85.3136 176.342 84.2256C175.798 83.1376 175.014 82.3056 173.99 81.7296C172.998 81.1216 171.846 80.8176 170.534 80.8176C169.222 80.8176 168.054 81.1216 167.03 81.7296C166.006 82.3056 165.206 83.1536 164.63 84.2736C164.054 85.3616 163.766 86.6736 163.766 88.2096V103.522H160.166Z"
          fill="#124835"></path>
      </svg>
    </div>
  </div>
</div>
<!-- End Clients -->
