---
import HelpCard from "../components/HelpCard.astro";
---

<section class="bg-primary py-20 mt-20 dark:bg-dark-600/30" id="offer">
    <!-- Features -->
    <div
        class="container max-w-[1550px] mx-auto px-10 mx-auto grid grid-cols-1 gap-20"
    >
        <!-- Grid -->
        <div class="grid lg:grid-cols-2 gap-8 lg:gap-12">
            <div class="lg:col-span-1">
                <h2
                    class="block text-xl font-heading font-bold text-secondary-300 sm:text-xl lg:text-4xl lg:leading-tight dark:text-accent"
                >
                    W czym mogę Ci pomóc?
                </h2>
                <p class="mt-5 text-base text-accent-100 dark:text-accent-100">
                    Jestem pasjonatką pracy z psami – to nie tylko zawód, ale
                    przede wszystkim życiowa misja. Od ponad dwudziestu lat
                    pomagam psom z trudnymi zachowaniami oraz prowadzę
                    szkolenia, które opierają się na wzajemnym zrozumieniu i
                    szacunku.
                </p>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Grid -->

        <!-- Grid -->
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 lg:gap-12 gap-y-10">

            <HelpCard
                title="Warsztaty komunikacji"
                link="Link do warsztatów komunikacji"
                image="/src/assets/golden.jpg"
            >
                Jakiś opis dotyczący warsztatów komunikacji.
            </HelpCard>
            <HelpCard
                title="Zajęcia wyjazdowe"
                link="Link do zajęć wyjazdowych"
                image="/src/assets/book.jpg"

            >
                Jakiś opis dotyczący zajęć wyjazdowych.
            </HelpCard>
            <HelpCard
                title="Spacery socjalizacyjne"
                link="Link do spacerów socjalizacyjnych"
                image="/src/assets/profil.jpeg"
            >
                Jakiś opis dotyczący spacerów socjalizacyjnych.
            </HelpCard>

        </div>
        <!-- End Grid -->
    </div>
    <!-- End Features -->
</section>
