---
import Wyjazdy from "../assets/wyjazdy.jpg";
import Wyjazdy2 from "../assets/wyjazdy2.jpg";
import { Image } from "astro:assets";
---

<section class="bg-dust-pink-700 py-20 dark:bg-dark-600/30">
    <!-- Features -->
    <div
        class="container max-w-[1550px] mx-auto px-10 mx-auto grid grid-cols-1 gap-20"
    >
        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-12 items-start"
        >
            <div>
                <div class="relative lg:w-3/4 origin-top-center mx-auto mb-20">
                    <div
                        class="absolute z-20 rounded-t-full bg-dust-pink-300 w-[190px] h-[270px] top-0 right-0 rotate-180"
                    >
                    </div>
                    <div
                        class="absolute z-10 rounded-t-full bg-dust-pink w-[220px] h-[290px] -bottom-6 -left-6 rotate-0"
                    >
                    </div>

                    <Image
                        class="w-full aspect-3/4 object-cover rounded-t-full z-40 relative"
                        src={Wyjazdy}
                        alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                        inferSize={true}
                        loading="eager"
                    />
                </div>

                <div class="relative lg:w-3/4 origin-top-center mx-auto mb-10">
                    <div
                        class="absolute z-20 rounded-t-full bg-dust-pink-300 w-[190px] h-[270px] -top-6 -right-6 rotate-180"
                    >
                    </div>
                    <div
                        class="absolute z-10 rounded-t-full bg-dust-pink w-[190px] h-[260px] bottom-0 left-0 rotate-0"
                    >
                    </div>

                    <Image
                        class="w-full aspect-3/4 object-cover rounded-b-full z-40 relative"
                        src={Wyjazdy2}
                        alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                        inferSize={true}
                        loading="eager"
                    />
                </div>
            </div>
            <div class="flex gap-10 flex-col">
                <h3
                    class="text-4xl font-heading font-semibold text-dust-pink-100 dark:text-accent-300 relative"
                >
                    Zajęcia wyjazdowe
                </h3>
                <p class="text-dust-pink-50 dark:text-accent-100">
                    Zapraszamy serdecznie Was i Wasze psy na wyjątkowe zajęcia
                    wyjazdowe. Do nich między innymi należą "WEEKEND Z PSEM",
                    „URLOP Z PSEM”, "FERIE Z PSEM".
                </p>

                <p class="text-dust-pink-50 dark:text-accent-100">
                    To za każdym razem wyjątkowe wydarzenia, które zawsze
                    prowadzę z inną behawiorystką/instruktorką. Organizujemy
                    zajęcia wyjazdowe w ośrodku wypoczynkowym z dostępem do
                    czystego jeziora i w otoczeniu pięknego lasu.
                </p>

                <p
                    class="text-dust-pink-50 dark:text-accent-100 font-heading text-lg font-semibold"
                >
                    Nikogo nie trzeba przekonywać, jakie korzyści przynosi
                    wspólny wyjazd z psami:
                </p>

                <ol class="list-decimal list-inside flex flex-col gap-4">
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Wzmacnianie więzi : Spędzanie wspólnego czasu sprzyja
                        wzmacnianiu relacji z psem.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Aktywność fizyczna : Wspólna nauka zachowań, spacery czy
                        zabawy na świeżym powietrzu, zapewnią odpowiednią dawkę
                        aktywności fizycznej.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Zmniejszenie stresu : Obecność psa i kontakt z naturą,
                        zdecydowanie pozwolą się odprężyć i obniżyć poziom
                        stresu, który towarzyszy nam każdego dnia.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Nowe doświadczenie : Stawianie psu nowych wyzwań,
                        wpłynie na rozwój psychiczny i zbuduje pewność siebie.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Socjalizacja : Podczas wyjazdu, pies będzie miał
                        możliwość obcowania z innymi ludźmi i psami, co
                        zdecydowanie pomoże przepracować jego codzienne
                        problemy.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Obserwacja: Możliwość obserwowania pełnego procesu
                        zmiany emocji psa, a co za tym idzie zmiany zachowania.
                    </li>
                </ol>

                <p
                    class="text-dust-pink-50 dark:text-accent-100 font-heading text-lg font-semibold"
                >
                    Poczas zajęć wyjazdowych z psem nigdy nie ma czasu się
                    nudzić. Przed Wami wiele nowych wyzwań:
                </p>

                <ol class="list-disc list-inside flex flex-col gap-4">
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Warsztaty smyczowe</strong> – wspólna praca nad kontrolą
                        emocji buduje zaufanie – pies wie, że opiekun zapewnia mu
                        bezpieczeństwo i prowadzi go przez trudne sytuacje.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Warsztaty klikerowe</strong> - Opiekun, który potrafi
                        skutecznie używać klikera, buduje w psie zaufanie i pewność,
                        że człowiek przewiduje i nagradza jego dobre decyzje.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Nauka zachowań</strong> - praca nad oczekiwanymi
                        zachowaniami zmniejsza poziom frustracji – pies wie, czego
                        się od niego oczekuje, a spójna struktura działań wprowadza
                        w jego życie przewidywalność.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Spacery socjalizacyjne</strong> – to nie tylko interakcje
                        fizyczne, ale przede wszystkim proces uczenia się i adaptacji
                        do różnych stylów komunikacji. Podczas spacerów psy uczą
                        się spokojnego mijania innych psów, respektowania przestrzeni
                        osobistej i odczytywania sygnałów społecznych.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Nosework</strong> - pies uczy się skupiania na zapachu
                        analizy środowiska oraz wytrwałości w dążeniu do celu wzmacnia
                        zdolność psa do koncentracji i uczy go radzenia sobie ze
                        stresem ponieważ sukces w odnalezieniu zapachu jest dla psa
                        źródłem satysfakcji.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Nosework</strong> - pies uczy się skupiania na zapachu
                        analizy środowiska oraz wytrwałości w dążeniu do celu wzmacnia
                        zdolność psa do koncentracji i uczy go radzenia sobie ze
                        stresem ponieważ sukces w odnalezieniu zapachu jest dla psa
                        źródłem satysfakcji.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        <strong>Komunikacja psów</strong> - podnoszenie kompetencji
                        społecznych psów.
                    </li>
                    <li class="text-dust-pink-50 dark:text-accent-100">
                        Gry i zabawy integracyjne dla opiekunów.
                    </li>
                </ol>

                <p class="text-dust-pink-50 dark:text-accent-100">
                    Z czystym sumieniem możemy powiedzieć – nie będzie czasu się
                    nudzić. Zadbamy też o to, aby wszyscy uczestnicy mieli czas
                    na należny odpoczynek.
                </p>
                <p class="text-dust-pink-50 dark:text-accent-100">
                    W zajęciach wyjazdowych z psami może wziąć udział 12 psów
                    wraz z opiekunami. Z uwagi na specyfikę zajęć zapraszamy 6
                    suk oraz 6 samców.
                </p>
                <p class="text-dust-pink-50 dark:text-accent-100">
                    Po kazdowrazowym zamknięciu listy uczestników wysyłamy do
                    Państwa regulamin uczestnictwa w wyjazdowych zajęciach,
                    zasady bezpieczeństwa w grupie oraz listę wszystkich rzeczy,
                    które będzie trzeba zabrać na ten wyjazd. Tworzona jest też
                    specjalna grupa na wybranym komunikatorze, abyśmy byli cały
                    czas w kontakcie.<br />
                    Zajęcia wyjazdowe cieszą się dużą popularnością. Frekwencja uczestników
                    z roku na rok jest wzrostowa.
                </p>

                <a
                    href="mailto:zawadzkaglinka@gmail.com"
                    class="transition-all duration-500 text-base text-dust-pink-200 decoration-1 hover:text-accent-200 underline focus:underline font-medium dark:text-accent-300 underline-offset-8 group-hover:text-accent-200"
                >
                    Dowiedz się kiedy najbliższy wyjazd
                </a>
            </div>
        </div>
    </div>
    <!-- End Features -->
</section>
