---
import Profil from "../assets/jestem_olka.jpg";
import Prywatnie from "../assets/olka_prywatnie.jpg";
import Pies1 from "../assets/pies1.jpg";
import Pies2 from "../assets/pies2.jpg";

import { Image } from 'astro:assets';
---

<!-- Grid -->
<div id="poznaj-mnie"
    class="container grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-12 items-end"
>

    <div class="grid grid-cols-1 gap-10 lg:gap-x-12">
        <h2
            class="text-xl font-heading font-bold text-primary-600 lg:text-4xl lg:leading-tight dark:text-white"
        >
            Cześć, jestem Olka.
        </h2>

        <h4
            class="text-lg font-semibold font-heading text-secondary dark:text-accent-500"
        >
            Behawiorystka COAPE.<br />
            Instruktorka szkolenia psów ALTERI.<br />
            Specjalistka zachowań zwierząt towarzyszących.
        </h4>

        <p class="text-base text-primary dark:text-accent-100">
            Jestem pasjonatką pracy z psami – to nie tylko zawód, ale przede
            wszystkim życiowa misja. Od ponad dwudziestu lat pomagam psom z
            trudnymi zachowaniami oraz prowadzę szkolenia, które opierają się na
            wzajemnym zrozumieniu i szacunku.
        </p>

        <p class="text-base text-primary dark:text-accent-100">
            Pomimo wieloletniego doświadczenia, nieustannie zgłębiam wiedzę –
            wierzę, że to, co dziś wiemy o zachowaniach psów, to zaledwie
            początek drogi. Psy wciąż potrafią nas zaskakiwać, a ich możliwości
            i emocjonalna głębia są większe, niż się wielu wydaje.
        </p>

        <p class="text-base text-primary dark:text-accent-100">
            W swojej pracy stanowczo odrzucam jakiekolwiek formy przemocy.
            Wierzę, że relacja z psem powinna być oparta na zaufaniu, nie na
            strachu. Przemoc – zarówno wobec zwierząt, jak i ludzi – nie powinna
            mieć miejsca i powinna być zawsze jednoznacznie potępiana.
        </p>
    </div>

    <div class="grid grid-cols-1 gap-6">
        <p class="text-base text-primary dark:text-accent-100">
            Prywatnie jestem szczęśliwą i uśmiechniętą opiekunką siedmiu
            wspaniałych istot – trzech psów i czterech kotów oraz wielką
            miłośniczką koni. Na Facebooku prowadzę cykl „z życia…” moich psów, <strong
                >„Z życia Idealnego Igloo, Radosnej Runy i Mądrej Mitry”</strong
            >. Sama występuję w roli „Oryginalnej Olki”, która niejednokrotnie
            „utrudnia” beztroskie życie psów. Wszystkie przydomki zwierzaków są
            skrzętnie dobrane i bezbłędnie pasują do ich cech osobniczych.
        </p>

        <p class="text-base text-primary dark:text-accent-100">
            Tymi, trochę groteskowymi postami pragnę przybliżyć odbiorcom
            codzienne życie moich psów, ich rozterki, radości i relacje, które
            potrafią nawiązywać. Chcę pokazać, że psy, które ze mną mieszkają,
            niczym się nie różnią od innych psów, nie są ani gorsze, ani lepsze
            – są po prostu wspaniałymi psami. Mają swoje dobre i złe dni. Są
            indywidualnościami i wyjątkowymi osobowościami same w sobie. Każdy
            pies na świecie jest inny, wyjątkowy i niepowtarzalny. Tak też
            podchodzę do nich w pracy – indywidualnie, nie umiem i nie chcę
            wsadzać je w ustalone „ryzy”. <strong
                >Wszak trudniejszą sztuką jest dopasować się do każdego psa z
                osobna niż odwrotnie.</strong
            >
        </p>

        <p class="text-base text-primary dark:text-accent-100">
            Ponadto uwielbiam bawić się z psami, przytulać je, śmiać się i
            żartować. Śmiech jest dużą częścią mnie.
        </p>
    </div>
</div>
<!-- End Grid -->

<!-- Grid -->
<div
    class="mx-auto grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-x-12 items-center"
>
    <div>
        <div class="relative">
            <div
                class="absolute z-20 rounded-full bg-accent -rotate-6 w-3/4 h-full -top-6 left-6"
            >
            </div>
            <Image
                class="w-full aspect-1/1 object-cover rounded-[10px] z-40 relative"
                src={Profil}
                alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
                inferSize={true}
                loading="eager"
            />
            <span class="absolute bottom-2 right-2 text-xs text-accent-400 z-50">Photo by FurFocus</span>
        </div>
    </div>

    <div class="relative">
        <div
            class="absolute z-20 rounded-full bg-primary-400 -rotate-6 w-3/4 h-full top-6 left-6"
        >
        </div>
        <Image
            class="w-full aspect-1/1 object-cover rounded-[10px] z-40 relative"
            src={Pies1}
            alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
        />
    </div>

    <div class="relative">
        <div
            class="absolute z-10 rounded-full bg-accent rotate-4 w-3/4 h-1/2 -top-6 -right-6"
        >
        </div>
        <Image
            class="w-full aspect-1/1 object-cover rounded-[10px] z-40 relative"
            src={Pies2}
            alt="Aleksanda Zawadzka-Glinka Behawiorystka Zwierząt Towarzyszących"
        />
    </div>
</div>
<!-- End Grid -->
