<!-- Icon Blocks -->
<div class="">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <div class="lg:w-full grid grid-cols-1 gap-6 content-start">
            <h2
                class="text-xl font-heading font-bold text-secondary lg:text-3xl lg:leading-tight dark:text-accent"
            >
                Poznajmy się!
            </h2>
            <p class="text-base text-primary dark:text-accent-100">
                We help businesses bring ideas to life in the digital world, by
                designing and implementing the technology tools that they need
                to win.
            </p>
        </div>
        <!-- End Col -->

        <div
            class="space-y-10 md:space-y-4 lg:space-y-10 md:col-span-2 rounded-[10px] relative lg:bg-primary-400 lg:dark:bg-dark-600/30 lg:shadow-2xl/20 lg:shadow-secondary-700 lg:dark:shadow-none lg:p-10"
        >
            <div
                class="absolute -z-10 rounded-full bg-accent rotate-4 w-3/4 h-1/2 -bottom-20 -right-4 dark:hidden hidden lg:block"
            >
            </div>
            <div
                class="absolute -z-20 rounded-full bg-dark -rotate-6 w-3/4 h-1/2 -top-6 -left-6 dark:hidden hidden lg:block"
            >
            </div>
            
            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    1.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        <strong>Behawiorystka COAPE</strong> – pierwsza w Łodzi,
                        dyplomu broniłam w 2009 roku.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    2.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Instruktorka szkolenia psów <strong>ALTERI</strong>.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    3.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        <strong>Pasjonatka komunikacji psów</strong> – brałam udział
                        w kilkudziesięciu wydarzeniach o tej tematyce: klasy komunikacji,
                        warsztaty, webinary, seminaria.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    4.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Autorka książki <strong
                            >„Zamieszka(ł) ze mną kot”</strong
                        >. Wyd. EMG, w której zapraszam do poznania potrzeb
                        gatunku i do pięknego kociego świata.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    5.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        <strong>Felietonistka</strong> – od kilku lat piszę felietony
                        do miesięcznika „Natura” sp. z o.o. Poruszam w nich sprawy
                        naszego codziennego życia z psami, ich potrzeb, wyboru rasy,
                        i innych tematów z którymi prawie każdy opiekun czworonoga
                        ma do czynienia.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    6.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Twórczyni autorskich warsztatów <strong
                            >„Praktyczna praca z psem problemowym”</strong
                        > oraz <strong>„Twoja racja, czy relacja?”</strong>.
                        Pierwszy warsztat realizowany jest kilkanaście razy w
                        roku w różnych miastach w Polsce.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    7.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Bohaterka wielu <strong>audycji radiowych</strong> o tematyce
                        pro – zwierzęcej (pies/kot).
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    8.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Gościni corocznego festiwalu naturocentrycznego <strong
                            >„Ktoś nie coś”</strong
                        >. Podczas festiwalu, w rozmowach z niezwykle ważnymi
                        dla naszego kraju osobami, poruszałam temat związany z
                        traktowaniem kotów w Polsce oraz potrzebami gatunku.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    9.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        Gościni festiwalu organizowanego przez <strong
                            >Fundację Olgi Tokarczuk „Góry Literatury”</strong
                        >. Podczas tego festiwalu miałam ogromną przyjemność
                        poznać <strong>Adw. Karolinę Kuszlewicz</strong> – moim zdaniem
                        najlepszą adwokatkę zwierząt. Rozmowa z adw. Karoliną Kuszlewicz
                        otworzyła mi oczy jeszcze szerzej. Dzięki niej widzę jeszcze
                        więcej. Również kilka słów na zawsze zniknęło z mojego słownika.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex lg:items-center gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-8 lg:size-12 rounded-full bg-secondary text-accent-100 mx-auto dark:bg-secondary dark:text-neutral-200 font-bold font-heading text-[10px] lg:text-base"
                >
                    10.
                </span>
                <div class="grow">
                    <p class="text-base text-accent-100 dark:text-accent-100">
                        <strong>Wykładowczyni dla ZKwP</strong> oddział w Łodzi.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Icon Blocks -->