---
import OpinieCard from '../components/OpinieCard.astro';
---
<div
    class="lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center lg:justify-between"
>
    <div class="lg:col-span-5 lg:col-start-1">
        <!-- Title -->
        <div class="my-10">
            <h3
                class="block text-xl font-heading font-bold text-secondary sm:text-xl lg:text-3xl lg:leading-tight dark:text-accent"
            >
                Dlaczego warto zaufać mojemu doświadczeniu?
            </h3>
            <p class="mt-5 text-base text-primary dark:text-accent-100">
                Moja wiedza to nie tylko teoria, ale przede wszystkim
                praktyka oparta na realnych sukcesach i empatii wobec
                zwierząt i ich ludzi.
            </p>
        </div>
        <!-- End Title -->
    </div>
    <!-- End Col -->

    <div class="mt-10 lg:mt-0 lg:col-span-6 lg:col-end-13">
        <div class="space-y-6 sm:space-y-8">
            <!-- List -->
            <ul
                class="grid grid-cols-2 divide-y divide-y-2 divide-x divide-x-2 divide-accent overflow-hidden dark:divide-neutral-700"
            >
                <li class="flex flex-col -m-0.5 p-4 sm:p-8">
                    <div
                        class="font-heading text-3xl sm:text-5xl font-semibold text-primary mb-2 dark:text-accent-200"
                    >
                        500+
                    </div>
                    <p class="text-primary-400 dark:text-accent-300">
                        psów, którym pomogłam w ciągu ostatnich 5 lat
                    </p>
                </li>

                <li class="flex flex-col -m-0.5 p-4 sm:p-8">
                    <div
                        class="font-heading text-3xl sm:text-5xl font-semibold text-primary mb-2 dark:text-accent-200"
                    >
                        24
                    </div>
                    <p class="text-primary-400 dark:text-accent-300">
                        spacery socjalizacyjne każdego miesiąca
                    </p>
                </li>

                <li class="flex flex-col -m-0.5 p-4 sm:p-8">
                    <div
                        class="font-heading text-3xl sm:text-5xl font-semibold text-primary mb-2 dark:text-accent-200"
                    >
                        15+
                    </div>
                    <p class="text-primary-400 dark:text-accent-300">
                        publikacji o naturze i zwierzętach w roku na łamach
                        znanych pism
                    </p>
                </li>

                <li class="flex flex-col -m-0.5 p-4 sm:p-8">
                    <div
                        class="font-heading text-3xl sm:text-5xl font-semibold text-primary mb-2 dark:text-accent-200"
                    >
                        15+
                    </div>
                    <p class="text-primary-400 dark:text-accent-300">
                        publikacji o naturze i zwierzętach w roku na łamach
                        znanych pism
                    </p>
                </li>
            </ul>
            <!-- End List -->
        </div>
    </div>
    <!-- End Col -->
</div>
<!-- End Grid -->

    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <OpinieCard />
        <OpinieCard />
        <OpinieCard />
        <OpinieCard />
        <OpinieCard />
        <OpinieCard />
    </div>
    <!-- End Grid -->
